/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Globale Styles für alles im Body */
body {
  display: flex;  /* Child-Elemente in Reihe */
  flex-direction: column; /* Reihe als Säule anordnen */
  min-height: 100vh;  /* Mindesthöhe Browswerfenster */
  margin: 0;
  padding: 0;
  color: black;
  background-color: lightgrey;
  font-family: "Calibri", Arial, Helvetica, sans-serif;
  font-size: 1.25rem; /* Schriftgröße */
}

/* links formatieren*/
a {
  text-decoration: none;
}

/* Link Farbe wenn besucht*/
a:visited {
  color: inherit;
}

/* Link Farbe beim drüberfahren*/
a:hover,
a:focus {
  color: red;
}

/* Logo formatieren*/
.logo {
  width: 4rem;  /* Breite */
  vertical-align: middle; /* Ausrichtung vertikal */
}

/* Topbar formatieren*/
.topbar {
  padding: 0.5rem;  /* Innenabstand */
  background-color: #F5FFFA;  /* Hintergrundfarbe */
  display: flex;  /* Child-Elemente in Reihe */
  justify-content: space-between; /* Abstand Child-Elemente */
  align-items: center;  /* Ausrichtung zentriert */
}

 /* Topbar Titel formatieren */
.topbartitle {
  color: green; /* Textfarbe */
  display: inline;  /* Elemente nebeneinander */
  margin-left: 2rem;  /* Abstand der Elemente */
  vertical-align: middle; /* Ausrichtung vertikal */
}

/* Navi Links formatieren */
.navilink {
  color: black; /* Textfarbe */
  padding: 1rem;  /* Innenabstand */
  font-size: 1.25rem; /* Schriftgröße */
}

/* Main formatieren */
.main {
  padding: 0 1rem 0 1rem;  /* Innenabstände */
  flex-grow: 1; /* maximale Ausdehnung */
  background-image: url("../img/logo-kjs.svg");
  background-size: 1rem;
  background-color: #FF0;
  /*background-repeat: no-repeat;*/
}

/* Container formatieren */
.container {
  background-color: #FFF; /* Hintergrundfarbe */
  max-width: 72rem; /* Breite */
  padding: 1rem 2rem 1rem 2rem; /* Abstand zum Rand */
  margin: 2rem auto 2rem auto;  /* Abstand zum nächsten Element */
  overflow: hidden;
  min-height: calc(100vh - 14rem);
}

 /* Footer formatieren */
.footer {
  color: grey;  /* Textfarbe */
  background-color: #F5FFFA;  /* Hintergrundfarbe */
  padding: 0 1rem 0 1rem;  /* Innenabstände */
  font-size: 0.875rem;  /* Schriftgröße */
  display: flex;  /* Child-Elemente in Reihe */
  justify-content: space-between; /* Abstand Child-Elemente */
  align-items: center;  /* Ausrichtung zentriert */
}

/* Bilder */
img {
  max-width: 100%; /* verhindert, dass große Bilder über ihr Container-Element
  hinauswachsen. */
}

/* Inhaltsverzeichnis ------------------------------------------------------- */

/* toc ist eine gängige Abkürzung, steht für "Table of Contents" =
Inhaltsverzeichnis */
.toc {

}

/* Ein Link in einem Inhaltsverzeichnis */
.toc-link {
  display: block;
  overflow: hidden;
  margin-bottom: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.toc-link {
  color: black;
}

.toc-link:hover,
.toc-link:focus {
  color: green;
}

/* Das Bild in einem Inhaltsverzeichnislink */
.toc-img {
  display: block;
  width: 3rem;
  float: left;
  margin-right: 1rem;
}

.toc-title {
  display: block;
  float: left;
  padding-top: .65rem;
}

/* Styles für Codebeispiele */

pre, code {
  font-family: Monaco, monospace;
  font-size: .8rem;
}

code {
  background-color: #eaeaea;
  padding: .2rem .3rem;
}

pre {
  background-color: #eaeaea;
  padding: 1rem;
  overflow: auto;
}

pre code {
  background-color: transparent;
}
