---

---

// Imports
@import "imports/reset";

// Variables

$color-grey: #293749;
$color-grey-50: #949BA4;
$color-grey-20: #D4D7DB;
$color-grey-10: #E9EBEC;
$color-grey-06: #F2F3F4;
$color-blue: #0A79BD;
$color-green: #41A873;
$color-purple: #671FE2;
$color-yellow: #E9B81F;
$color-red: #E31823;

/* Globale Styles für alles im Body */
html {
  font-size: 100%;
}

body {
  display: flex;  /* Child-Elemente in Reihe */
  flex-direction: column; /* Reihe als Säule anordnen */
  min-height: 100vh;  /* Mindesthöhe Browswerfenster */
  margin: 0;
  padding: 0;
  color: $color-grey;
  background-color: $color-grey-10;
  font-family: "Calibri", Arial, Helvetica, sans-serif;
}

/* links formatieren*/
a {
  text-decoration: none;
  color: $color-blue;
  &:visited {
    color: inherit;
  }
  /* Link Farbe beim drüberfahren*/
  &:hover, &:focus {
    color: $color-green;
  }
}

/* Logo formatieren*/
.logo {
  width: 4rem;  /* Breite */
  vertical-align: middle; /* Ausrichtung vertikal */
}

/* Topbar formatieren*/
.topbar {
  text-align: center;
  padding: 0.5rem;  /* Innenabstand */
}

 /* Topbar Titel formatieren */
.topbartitle {
  display: inline;  /* Elemente nebeneinander */
  margin-left: 2rem;  /* Abstand der Elemente */
  vertical-align: middle; /* Ausrichtung vertikal */
}

.navi {
  text-align: center;
}

/* Navi Links formatieren */
.navilink {
  padding: 1rem;  /* Innenabstand */
  font-size: .875rem;
  text-transform: uppercase;
  letter-spacing: .05em;
}

/* Main formatieren */
.main {
  flex-grow: 1; /* maximale Ausdehnung */
}

/* Container formatieren */
.container {
  background-color: #FFF; /* Hintergrundfarbe */
  max-width: 72rem; /* Breite */
  padding: 1rem 2rem 1rem 2rem; /* Abstand zum Rand */
  margin: 2rem auto 2rem auto;  /* Abstand zum nächsten Element */
  overflow: hidden;
  min-height: calc(100vh - 14rem);
}

 /* Footer formatieren */
.footer {
  padding: 1rem;  /* Innenabstände */
  font-size: 0.75rem;  /* Schriftgröße */
  display: flex;  /* Child-Elemente in Reihe */
  justify-content: space-between; /* Abstand Child-Elemente */
  align-items: center;  /* Ausrichtung zentriert */
}

/* Bilder */
img {
  max-width: 100%; /* verhindert, dass große Bilder über ihr Container-Element
  hinauswachsen. */
}

/* Inhaltsverzeichnis ------------------------------------------------------- */

/* toc ist eine gängige Abkürzung, steht für "Table of Contents" =
Inhaltsverzeichnis */
.toc {

}

/* Ein Link in einem Inhaltsverzeichnis */
.toc-link {
  display: block;
  overflow: hidden;
  margin-bottom: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.toc-link {
  &:hover,
  &:focus {
  }
}

/* Das Bild in einem Inhaltsverzeichnislink */
.toc-img {
  display: block;
  width: 5rem;
  float: left;
  margin-right: 1rem;
}

.toc-title {
  display: block;
  float: left;
  padding-top: 0.65rem;
  font-size: 1.25rem; /* Schriftgröße */
}

/* Styles für Codebeispiele */

pre, code {
  font-family: Monaco, monospace;
  font-size: .8rem;
}

code {
  background-color: #eaeaea;
  padding: .2rem .3rem;
}

pre {
  background-color: #eaeaea;
  padding: 1rem;
  overflow: auto;
}

pre code {
  background-color: transparent;
}

#videobereich1 {
    background-color: orange;
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}
.videoExtern {
    background-color: yellow;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
 .spec-table {
   width: 100%;
   text-align: left;

 }
