---

---

// Imports
@import "imports/colors";
@import "imports/breakpoints";
@import "imports/reset";
@import "imports/topbar";
@import "imports/gallery";
@import "imports/card";

/* Globale Styles für alles im Body */
html {
  font-size: 100%;
}

body {
  display: flex;  /* Child-Elemente in Reihe */
  flex-direction: column; /* Reihe als Säule anordnen */
  min-height: 100vh;  /* Mindesthöhe Browswerfenster */
  margin: 0;
  padding: 0;
  color: $color-grey;
  background-color: $color-grey-06;
  font-family: "Calibri", Arial, Helvetica, sans-serif;
}

/* links formatieren*/
a {
  text-decoration: none;
  color: $color-blue;
  &:visited {
    color: inherit;
  }
  /* Link Farbe beim drüberfahren*/
  &:hover, &:focus {
    color: $color-green;
  }
}

/* Main formatieren */
.main {
  flex-grow: 1; /* maximale Ausdehnung */
}

/* Container formatieren */
.container {
  max-width: 72rem; /* Breite */
  margin: 0 auto;  /* Abstand zum nächsten Element */
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: hidden;
}

.page-header {
  padding: 2rem;
  background-color: $color-white;
  text-align: center;
}

 /* Footer formatieren */
.footer {
  padding: 1rem;  /* Innenabstände */
  font-size: 0.75rem;  /* Schriftgröße */
  display: flex;  /* Child-Elemente in Reihe */
  justify-content: space-between; /* Abstand Child-Elemente */
  align-items: center;  /* Ausrichtung zentriert */
}

/* Bilder */
img {
  max-width: 100%; /* verhindert, dass große Bilder über ihr Container-Element
  hinauswachsen. */
}

/* Inhaltsverzeichnis ------------------------------------------------------- */

/* toc ist eine gängige Abkürzung, steht für "Table of Contents" =
Inhaltsverzeichnis */
.toc {

}

/* Ein Link in einem Inhaltsverzeichnis */
.toc-link {
  display: block;
  overflow: hidden;
  margin-bottom: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.toc-link {
  &:hover,
  &:focus {
  }
}

/* Das Bild in einem Inhaltsverzeichnislink */
.toc-img {
  display: block;
  width: 5rem;
  float: left;
  margin-right: 1rem;
}

.toc-title {
  display: block;
  float: left;
  padding-top: 0.65rem;
  font-size: 1.25rem; /* Schriftgröße */
}

/* Styles für Codebeispiele */

pre, code {
  font-family: Monaco, monospace;
  font-size: .8rem;
}

code {
  background-color: #eaeaea;
  padding: .2rem .3rem;
}

pre {
  background-color: #eaeaea;
  padding: 1rem;
  overflow: auto;
}

pre code {
  background-color: transparent;
}

#videobereich1 {
    background-color: orange;
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}
.videoExtern {
    background-color: yellow;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
 .spec-table {
   width: 100%;
   text-align: left;

 }
