$color-white: #FFFFFF;
$color-grey: #293749;
$color-grey-70: #69737f;
$color-grey-60: #7f8792;
$color-grey-50: #949BA4;
$color-grey-20: #D4D7DB;
$color-grey-10: #E9EBEC;
$color-grey-06: #f4f7f6;
$color-blue: #0000ff;
$color-blue-hover: #4646fd;
$color-green: #01ba81;
$color-green-hover: #00ff96;
$color-purple: #671FE2;
$color-yellow: #E9B81F;
$color-red: #E31823;
