---
layout: article
category: automobiles
title: 'Der Alfa Romeo Virus'
img: 'automobiles/alfavirus_titel.jpg'
order: 1
---

<ul class="toc">
  <li> <a href="#anfang"> Am Anfang war der Käfer</a></li>
  <li> <a href="#alfa"> Doch dann kam Alfa Romeo </a></li>
  <li> <a href="#alfavirus"> Den Alfa-Virus wiederbelebt</a></li>
  <li> <a href="#oldtimer"> Die Oldtimer</a></li>
</ul>

<h2><a name="anfang"></a>Am Anfang war der Käfer</h2>

<p>
  Wir schrieben das Jahr 1968. Der Führerschein war bestanden und ein Auto
  sollte her. In Studentenkreisen war Revolution angesagt, bei Autos lagen Ente
  und R4 deutlich vorne. Ich liebäugelte mit etwas sportlicherem, gerne einem
  Mini. Letztlich lief es jedoch auf einen soliden Käfer mit 1200 ccm und 34 PS
  hinaus, der sportliche Anspruch wurde versucht durch breitere Reifen,
  Manipulation am Auspuff, Lederlenkrad und Zusatzinstrumente zu
  verwirklichen (<b>Bild 1</b> ).
</p>

<P>
  Mit Baujahr 1965 war der Käfer ein relativ junger Gebrauchtwagen und noch
  viele Jahre ein treuer Begleiter bei den alltäglichen Fahrten zur Uni wie auch
  auf manchen Urlaubsreisen in den Süden. Im Laufe der Zeit zeigten sich doch
  dann einige Alterserscheinungen, neben einem Tausch des Motors waren auch
  mache Korrosionsschäden auszubessern.
</p>

{% include figure.html
  src="/img/automobiles/alfavirus/vw_kaefer.jpg"
  alt="VW Käfer 1200"
  caption="<b>Bild 1</b> VW Käfer 1200 Baujahr 1965"
%}

<h2><a name="alfa"></a>Doch dann kam Alfa Romeo</h2>

<p>
  Eines Tages fuhr Manni um die Ecke, mit einer nigelnagelneuen 1750-er Berlina
  in Faggio, die hatten ihm seine Eltern zum bestandenen Abi einfach vor die
  Türe gestellt. Ein sportlicher Motor mit typischem Alfa-Sound, reichliche
  Instrumentierung mit einem Drehzahlmesser so groß wie der Tacho, Einzelsitze
  in Kunstleder auch hinten, das war sicher kein typisches Studentenauto,
  sondern eine sportliche Luxuslimousine der gehobenen Klasse. Wir haben mit
  diesem Auto viele schöne Stunden verbracht und manche Tour gerne auch mal an
  der Uni vorbei ins benachbarte Ausland nach Holland oder Belgien unternommen.
  Der Alfa-Virus war geboren!
</p>
<p>
  Als dann 1973 ein Neuwagen angeschafft wurde kam VW gerade mit dem Golf aus
  den Startlöchern und bei Opel stand der Kadett C im Verkaufsraum. Alles
  natürlich kein Vergleich zum Alfasud, hier fand ich das wieder was mir bei der
  Berlina so gut gefallen hatte. Der Alfa war ein Quantensprung im Vergleich zum
  Käfer, der Motor mit 63 PS fast doppelt so stark und mit dem Fahrwerk war die
  Kiste einfach sauschnell. (<b>Bild 2</b>)
</p>

{% include figure.html
  src="/img/automobiles/alfavirus/alfasud.jpg"
  alt="Alfasud"
  caption="<b>Bild 2</b> Alfasud 1200 Baujahr 1973"
%}

<p>
  Die Freude am Sud dauerte einige Jahre, doch letztlich nahm der Rost Überhand
  und es war eine Ersatzlösung gefragt.
</p>

<p>
  Die 80-er und 90-er Jahre waren dann geprägt vom Kombizeitalter. Eine
  vierköpfige Familie, Hund und Katze, Urlaubsgepäck für 3 Wochen und natürlich
  4 Fahrräder auf dem Dach waren mit einem Alfa nicht zu stemmen, Opel Rekord,
  Passat Turbodiesel und diverse Omegas waren jetzt angesagt. Die
  italienischen Momente im Leben wurden zwischenzeitlich durch Fiat und Lancia
  als Zweitwagen abgedeckt.
</p>

<h2><a name="alfavirus"></a>Den Alfa-Virus wiederbelebt</h2>

<p>
  Der Alfa-Virus war aber immer noch vorhanden, auch bei meiner Frau, sie hatte
  in den 70-ern mehrere Alfasuds und später einen Fastback Spider gefahren. Mit
  der Jahrhundertwende ging es dann wieder richtig los, die Kinder waren
  herangewachsen und der Platzbedarf stand nicht mehr im Vordergrund. Neben
  einem 156-er Sportwagon kam ein 93-er Spider 2.0 ins Haus.
  (<b>Bilder 3 und 4</b>)
</p>

{% include figure.html
  src="/img/automobiles/alfavirus/ar_sportwagon.jpg"
  alt="AR 156 Sportwagon"
  caption="<b>Bild 3</b> Alfa Romeo 156 Sportwagon 2.0"
%}

{% include figure.html
  src="/img/automobiles/alfavirus/ar_spider1.jpg"
  alt="AR Spider 93.1"
  caption="<b>Bild 4</b> Alfa Romeo Spider 2.0 Baujahr 1993 Nr. 1"
%}
<p>
  Der Spider brachte uns auch beim Spidertreffen der Sektion Ruhrgebiet West
  2003 in Gladbeck zum Alfaclub. Hier nehmen wir seitdem regelmäßig an
  regionalen und überregionalen Treffen und Ausfahrten teil. Diese haben uns
  bisher in alle Regionen Deutschlands und nach Österreich, die Schweiz und
  Italien geführt.
</p>

<p>
  In den nächsten Jahren waren dann zwei 166-er meine Begleiter, beide als 2.4
  Turbodiesel (<b>Bilder 5 und 6</b>). Parallel dazu jeweils einen 147-er als
  Zweitwagen.
</p>

{% include figure.html
  src="/img/automobiles/alfavirus/ar_166_1.jpg"
  alt="AR 166.1"
  caption="<b>Bild 5</b> Alfa Romeo 166 2.4 TD"
%}

{% include figure.html
  src="/img/automobiles/alfavirus/ar_166_2.jpg"
  alt="AR 166.2"
  caption="<b>Bild 5</b> Alfa Romeo 166 2.4 TDI"
%}

<p>
  Obwohl immer wieder mal angekündigt gab es bei Alfa 2009 schon lange keinen
  adäquaten Nachfolger mehr für den 166, daher steht heute ein Produkt aus
  Zuffenhausen in meiner Garage und meine Frau fährt aktuell eine Giulietta QV.
  (<b>Bild 6</b>)
</p>

{% include figure.html
  src="/img/automobiles/alfavirus/ar_giulietta.jpg"
  alt="AR Giulietta"
  caption="<b>Bild 6</b> Alfa Romeo Giulietta QV"
%}

<h2><a name="oldtimer"></a>Die Oldtimer</h2>

<p>
  Bei den Oldtimern steht aber ganz klar Alfa im Vordergrund. Zu dem 93-er
  Spider Youngtimer sollte sich eigentlich ein Bertone gesellen, dann wurde ich
  aber auf einen restaurierungsbedürftigen 1750-er Duetto Spider von 1968 ganz
  in der Nähe aufmerksam. Da konnte ich nicht widerstehen, 2002 gekauft und nach
  über drei Jahren Arbeit erstrahlte er 2005 wieder im alten Glanz. Der passende
  Helm wurde natürlich auch dazu angefertigt.
</p>

{% include figure.html
  src="/img/automobiles/alfavirus/ar_duetto.jpg"
  alt="AR Duetto Spider"
  caption="<b>Bild 7</b> Alfa Romeo Duetto Spider 1750 Baujahr 1968"
%}

{% include figure.html
  src="/img/automobiles/alfavirus/helm.jpg"
  alt="Helm"
  caption="<b>Bild 8</b> Helm im Alfa Romeo Design"
%}

<p>
 Mit dem zweiten Spider im Hause kam dann eines Tages die Frage auf, ob bei zwei
 Spidern nicht einer zu viel ist. Kurzentschlossen wurde also der 93-er Spider
 verkauft. Das stellte sich schnell als Fehlentscheidung heraus, da meine Frau
 doch nicht auf ihren Spider verzichten wollte. So wurde also binnen Jahresfrist
 wieder ein 93-er Spider angeschafft und der Hausfrieden war wieder in Ordnung.
 Auch dieser Spider wurde einer kompletten Restaurierung unterzogen, neben neuer
 Lackierung wurde die inzwischen unschöne beige Innenausstattung in
 Eigenanfertigung durch eine Lederausstattung ersetzt.
</p>

{% include figure.html
  src="/img/automobiles/alfavirus/ar_spider2.jpg"
  alt="AR Spider 93.2"
  caption="<b>Bild 9</b> Alfa Romeo Spider 2.0 Baujahr 1993 Nr. 2"
%}

<p>
  Nach einigen Jahren war es dann wieder soweit, ich hatte mich entschlossen
  einen weitern 105-er anzuschaffen. Ich interessierte mich wieder für einen
  Bertone oder auch eine Jule aber dann stach mir aber das Angebot einer 1750-er
  Berlina ins Auge. Sofort wurden alte Erinnerungen wach und kurzentschlossen
  war das nächste Restaurierungsobjekt geboren. Das Fahrzeug wurde ebenso
  komplett zerlegt, neu lackiert und wieder neu aufgebaut.
</p>

{% include figure.html
  src="/img/automobiles/alfavirus/ar_berlina.jpg"
  alt="AR Berlina 1750"
  caption="<b>Bild 10</b> Alfa Romeo Berlina 1750 Baujahr 1970"
%}

<p>
  Mit dieser „Flotte“ stehen uns nun für alle Ausfahrten die richtigen Fahrzeug
  zur Verfügung. Für die beiden Oldtimer inzwischen mit Wechselkennzeichen geht
  es im Sommer zu den Spidertreffen und im Herbst in die Alpen mit der Berlina,
  zwischendurch wollen die anderen auch noch bewegt werden.
</p>
