---
layout: article
category: automobiles
title: 'Alfa Romeo Berlina 1750, Protokoll einer Komplettrestauration'
img: 'automobiles/berlina_titel.jpg'
order: 3
---

<ul class="toc">
  <li> <a href="#kauf"> Der Kauf</a></li>
  <li> <a href="#bestand"> Die erste Bestandsaufnahme </a></li>
  <li> <a href="#arbeit"> Die Demontagearbeiten</a></li>
  <li> <a href="#karosserie"> Karosseriearbeiten</a></li>
  <li> <a href="#fahrwerk"> Fahrwerksaqrbeiten</a></li>
  <li> <a href="#motor"> Motor und Getriebe</a></li>
  <li> <a href="#elektrik"> Elektrik</a></li>
  <li> <a href="#innen"> Innenausstattung</a></li>
  <li> <a href="#lack"> Lackierung</a></li>
  <li> <a href="#komplett"> Zusammenbau</a></li>
  <li> <a href="#ausfahrt"> Ausfahrten und Nacharbeiten</a></li>
  <li> <a href="#bilder"> Bildergalerie</a></li>
</ul>

<h2><a name="kauf"></a>Der Kauf</h2>

<p>
  2013 war es dann wieder soweit, ich hatte mich entschlossen einen weitern
  105-er anzuschaffen. Ich interessierte mich wieder für einen Bertone oder auch
  eine Jule aber dann stach mir aber das Angebot einer 1750-er Berlina ins Auge.
  Sofort wurden alte Erinnerungen wach und nach einer Besichtigung und
  Probefahrt habe ich mich zum Kauf entschlossen. Da mir ohnehin wieder eine
  Komplettrestaurierung vorschwebte kam es mir auf eine gute Substanz an, die
  Optik war mir weniger wichtig.
  Die Berlina war angeblich technisch und optisch in gutem Zustand, letztlich
  reduzierte sich das aber auf eine wirklich gut gearbeitete Leder-
  Komplettausstattung die verbunden mit den Echtholz-applikationen dem Fahrzeug
  eine besondere Note geben. Die zwischenzeitlich aufgebrachte Lackierung in
  Silber-Metallic war von minderer Qualität und harmonierte nicht mit dem Chrom
  der 70-er Jahre. (<b>Bild 1</b> ).
</p>

{% include figure.html
  src="/img/automobiles/berlina/berlina_ankauf.jpg"
  alt="Ankauf Berlina 1750"
  caption="<b>Bild 1</b> Alfa Romeo Berlina nach Ankauf am 03.10.2013"
%}

<h2><a name="bestand"></a>Die erste Bestandsaufnahme</h2>

<p>
  Nach der Überführungsfahrt und einer genaueren Inspektion zuhause lassen sich
  die Vor- und Nachteile wie folgt zusammenfassen:
</p>

<p>
  Vorteile:
</p>
<p>
  <ul>
    <li>Ruhiger Motorlauf und gutes Fahrverhalten</li>
    <li>Top Innenausstattung in schwarzem Leder wie oben schon erwähnt </li>
    <li>Guter Unterboden ohne erkennbaren Mängel (Rost)</li>
    <li>Fehlende oder reparaturbedürftige Teile (Kühler, Stoßstangenhörner,
      Kleinteile) sowie ein zweites Getriebe lagen bei </li>
    <li>Umfangreiche Dokumentationen (Prospekte, Rechnungen, Belege usw.)</li>
  </ul>
</p>
<p>
  Nachteile:
</p>
<p>
  <ul>
    <li>Schlechte Lackierung, mehrfach nachlackiert mit Farbunterschieden</li>
    <li>Schwarzer Spiegel am Heck nicht original, fehlende Stoßstangenhörner</li>
    <li>Motorraum komplett mit Unterbodenschutz zugeschmiert (tolle
      Konservierung!?)</li>
  </ul>
</p>

<p>
  Auf Anfrage in Arese wurde bestätigt, dass das Fahrzeug im Mai 1970 produziert
  und nach Gorizia in Italien ausgeliefert wurde, Farbe Oliv grün Metallic mit
  Camel-Inneneinrichtung. Dies ging auch aus dem beiliegenden Service-Heft
  hervor, Dokumente wie TÜV-Berichte und Rechnungen gaben Aufschluss über die
  weitere Historie. Demnach kam das Fahrzeug 1977 nach Deutschland, taucht laut
  den Unterlagen in den 90-er Jahren wieder auf und war 20 Jahre in gleichem
  Besitz (<b>Bild 2</b>):
</p>

{% include figure.html
  src="/img/automobiles/berlina/berlina_auskunft.jpg"
  alt="Auskunft über die Produktion der Berlina in Arese"
  caption="<b>Bild 2</b> Auskunft vom Automobilismo Storico Alfa Romeo"
%}

<h2><a name="arbeit"></a>Die Demontagearbeiten</h2>

<p>
  Da ich entschlossen war, die Lackierung von Grund auf innen wie außen neu
  aufzubauen, sollte das Fahrzeug komplett zerlegt werden. Natürlich würde das
  auch Aufschluss geben über den tatsächlichen Zustand der Karosserie.
</p>

<p>
  Nach den Erfahrungen aus früheren Projekten wurde zunächst Stück für Stück mit
  der Demontage der Anbauteile begonnen. Diese wurden dann sofort aufgearbeitet
  oder falls erforderlich neu beschafft. Anschließend wurden die Teile verpackt
  und für die spätere Montage eingelagert. So wurde grundsätzlich mit allen
  Teilen verfahren, wobei Kleinteile wie Schrauben und Befestigungsteile
  vorzugsweise neu in Rostfrei-Qualität beschafft wurden.
</p>

<p>
  Nachdem auch Motor incl. aller Anbauteile, Getriebe und Fahrwerk ausgebaut
  waren wurde die Karosserie für die weitere Bearbeitung auf eine früher
  angefertigten verfahrbaren Rahmen gestellt.
</p>

<h2><a name="karosserie"></a>Karosseriearbeiten</h2>

<p>
  Zunächst wurde der Lack innen und außen mit Spachtel und Heißluftföhn komplett
  entfernt. Das blanke Blech zeigte anschließend erstaunlich wenig Roststellen,
  insbesondere die kritischen Schweißnähte an den Kotflügelverbindungen waren
  einwandfrei, nur im unteren Bereich der hinteren Kotflügel musste etwas
  nachgeschweißt werden. Wie schon bei der ersten Inspektion ersichtlich zeigte
  sich auch der Unterboden in gutem Zustand.
</p>

<p>
  Besonders aufwendig gestalteten sich die Arbeiten im Motorraum. Hier waren
  alle Blechteile mit einer dicken Schicht Unterbodenschutz versehen. Sicherlich
  hat das zur guten Konservierung beigetragen, war aber äußerst unansehnlich
  und musste natürlich vor einer Neulackierung entfernt werden. Ebenso
  unerfreulich war der Anblick des Kofferraums, hier fand sich teilweise noch
  die Originallackierung wieder, jedoch begleitet von Kleberesten einer
  offensichtlich früher angebrachten Verkleidung. Aber auch das wurde letztlich
  alles entfernt.
</p>

<p>
  Nach Rücksprache mit dem Lackierer blieben die Oberflächen der Motorhaube, des
  Daches und des Kofferraumdeckels unberührt, diese Arbeiten sollten dem
  Fachmann vorbehalten bleiben.
</p>

<p>
  Die <b>Bilder 3 bis 5</b> zeigen den Zustand der Karosserie nach der Befreiung
  von Lack und Spachtelmasse. In diesem Zustand wurde das Fahrzeug dem Lackierer
  zur weiteren Bearbeitung übergeben.
</p>

{% include figure.html
  src="/img/automobiles/berlina/berlina_karosserie_01.jpg"
  alt="Karosserie nach Lackentfernung"
  caption="<b>Bild 3</b> Karosserie nach Lackentfernung"
%}

{% include figure.html
  src="/img/automobiles/berlina/berlina_karosserie_02.jpg"
  alt="Vorderwagen nach Lackentfernung"
  caption="<b>Bild 4</b> Vorderwagen nach Lackentfernung"
%}

{% include figure.html
  src="/img/automobiles/berlina/berlina_karosserie_03.jpg"
  alt="Innenraum nach Demontage"
  caption="<b>Bild 4</b> Innenraum nach Demontage"
%}

<h2><a name="fahrwerk"></a>Fahrwerksarbeiten</h2>

<p>
 Auch das Fahrwerk wurde komplett demontiert, zerlegt, gereinigt und neu
 lackiert. Sämtliche beweglichen Teile wie Lager, Buchsen und Gelenkköpfe wurden
 hierbei erneuert. Gleiches gilt für die Bremsanlage und die Stoßdämpfer. Die
 folgenden Bilder zeigen die Hinterachse <b>Bilder 6</b>, die Bremse HL
 <b>Bilder 7</b> und die Vorderachse rechts <b>Bilder 8</b>.
</p>

{% include figure.html
  src="/img/automobiles/berlina/berlina_hinterachse.jpg"
  alt="Hinterachse"
  caption="<b>Bild 6</b> Hinterachse"
%}

{% include figure.html
  src="/img/automobiles/berlina/berlina_bremse_hl.jpg"
  alt="Bremse HL"
  caption="<b>Bild 7</b> Bremse HL"
%}

{% include figure.html
  src="/img/automobiles/berlina/berlina_vorderachse.jpg"
  alt="Vorderachse"
  caption="<b>Bild 8</b> Vorderachse"
%}

<h2><a name="motor"></a>Motor und Getriebe</h2>

<p>
 Da der Motor bisher gut gelaufen war gab es keine Veranlassung für eine
 komplette Revision. Der Motor wurde daher äußerlich gereinigt und
 Zylinderkopfdeckel und Ölwanne neu abgedichtet, jedoch ohne weiter in das
 Innenleben einzugreifen. Beim Getriebe gab es auch keinen Grund für eine
 Beanstandung, trotzdem wurde das Gehäuse geöffnet, sämtliche alten Ölreste
 entfernt und die einzelnen Teile einer Sichtkontrolle unterzogen.
 Anschließend wurde das Gehäuse neu abgedichtet und war wieder einbaufertig.
 Die <b>Bilder 9 und 10</b> zeigen den Motor und das Getriebe jeweil in
 einbaufertigem Zustand.
</p>

{% include figure.html
  src="/img/automobiles/berlina/berlina_motor.jpg"
  alt="Motor einbaufertig"
  caption="<b>Bild 9</b> Motor einbaufertig"
%}

{% include figure.html
  src="/img/automobiles/berlina/berlina_getriebe.jpg"
  alt="Getriebe einbaufertig"
  caption="<b>Bild 10</b> Getriebe einbaufertig"
%}

<h2><a name="elektrik"></a>Elektrik</h2>

<p>
 Im Rahmen der Revision wurde die Elektrik in folgenden Punkten aufgearbeitet:
</p>

<p>
  <ul>
    <li>Revision der Außenbeleuchtungsanlage und falls notwendig Ersatz
      einzelner Teile (Halogenbirnen und Reflektoren)</li>
    <li>Da bei den 105-er Modellen beim Abstellen gerne schonmal das Ausschalten
      des Fahrlichtes vergessen wird, kennt wohl jeder das Problem einer dadurch
      verursachten leeren Batterie. Die Beleuchtung wurde daher auf
      Relaissteuerung über Zündung umgebaut, d.h. mit Ausschalten der Zündung
      schaltet automatisch auch die Fahrzeugbeleuchtung ab. Da laut Vorschrift
      das Standlicht auch unabhängig von der Zündung schaltbar sein muss, wurde
      die über den meiner Ansicht überflüssigen Schalter für die
      Instrumentenbeleuchtung in der Mittelkonsole realisiert. </li>
    <li>Alle Instrumente wurden geöffnet und von innen gesäubert. Es ist kaum
      zu glauben wieviel Fett sich über die Antriebswellen im Laufe der Jahre in
      die Instrumentengehäuse eingearbeitet hat. Bei dieser Gelegenheit wurden
      die schwachen Beleuchtungsbirnchen durch mehrere in Reihe geschaltete
      LED’s ersetzt. Die Instrumente sind dadurch auch bei Dunkelheit bestens
      abzulesen und die gesamte optische Erscheinung der Armaturen ist
      beeindruckend.</li>
    <li>Die serienmäßige Zeituhr wurde durch ein Ölthermometer ersetzt, eine
      durchaus sinnvolle Ausstattung bei allen meinen 105-ern.</li>
    <li>Der Kabelbaum wurde ebenfalls komplett überarbeitet und um die
      erforderlichen Leitungen für die Zusatzeinrichtungen ergänzt.</li>
  </ul>
</p>

<p>
 Der Schaltplan mit den entsprechenden Ergänzungen ist im <b>Bild 11</b>
 dargestellt:
</p>
{% include figure.html
  src="/img/automobiles/berlina/berlina_schaltplan.jpg"
  alt="Schaltplan mit Zusatzausstattung"
  caption="<b>Bild 11</b> Schaltplan mit Zusatzausstattung"
%}

<h2><a name="innen"></a>Innenausstattung</h2>

<p>
 Das werksseitige Camel-farbige Interior war vom Vorbesitzer durch eine
 komplette schwarze Lederausstattung ersetzt worden. Sitze und Türverkleidungen
 waren sauber verarbeitet und konnten problemlos übernommen werden. Die
 Echtholzeinlage im Armaturenbrett war durch entsprechende Holzapplikationen in
 den Türgriffen und Fensterkurbeln ergänzt worden. Der gute Gesamteindruck wurde
 leider etwas getrübt, da durch den erheblichen Lackauftrag auf dem Holz der der
 Echtholzcharakter verlorenging und die Teile wie Kunststoff aussehen ließen.
 Alle Holzteile wurden daher abgebeizt und anschließend mit einer matten Lasur
 bearbeitet. Abgerundet wurde das Bild durch ein zeitgenössiges „Hellebore“
 Holzlenkrad sowie einen Schaltknauf aus Holz. Das <b>Bild 12</b> gibt einen
 Eindruck von der Innenausstattung wieder.
</p>

{% include figure.html
  src="/img/automobiles/berlina/berlina_innenausstattung.jpg"
  alt="Innenausstattung"
  caption="<b>Bild 12</b> Gesamtansicht der Innenausstattung"
%}

<h2><a name="lack"></a>Lackierung</h2>

<p>
 Nach den oben beschriebenen Karosseriearbeiten und der Lackentfernung wurde die
 Rohkarosse dem Lackierer für die weiteren Arbeiten übergeben. Hier wurde dann
 von Grund auf ein neuer Lackaufbau in mehreren Schichten vorgenommen. Diese
 Arbeiten gestalteten sich natürlich sehr zeitaufwendig, da die Türen und Hauben
 bei diesen Vorgängen immer wiederentsprechend eingepasst werden mussten und für
 die Endlackierung wieder ausbebaut werden mussten. In Erinnerung an eine
 Berlina aus meiner Studentenzeit wurde als Endlackierung der Originalfarbton
 AR 516 – Faggio Amaranto gewählt. Die <b>Bilder 13.1 bis 13.3</b> zeigen die
 Karosserie nach den einzelnen Arbeitsschritten wie Spritzspachtelauftrag,
 Grundierung und Endlackierung.
</p>

{% include figure.html
  src="/img/automobiles/berlina/berlina_spritzspachtel.jpg"
  alt="Karosserie nach Auftrag von Spritzspachtel"
  caption="<b>Bild 13.1</b> Karosserie nach Auftrag von Spritzspachtel"
%}

{% include figure.html
  src="/img/automobiles/berlina/berlina_grundierung.jpg"
  alt="Karosserie nach Auftrag der Grundierung"
  caption="<b>Bild 13.2</b> Karosserie nach Auftrag der Grundierung"
%}

{% include figure.html
  src="/img/automobiles/berlina/berlina_lackierung.jpg"
  alt="Karosserie nach Endlackierung"
  caption="<b>Bild 13.3</b> Karosserie nach Endlackierung"
%}

<h2><a name="komplett"></a>Zusammenbau</h2>

<p>
 Nach Rückkehr der Karosserie vom Lackierer konnte mit der Komplettierung der
 letzte und schönste Schritt der Restaurierungsarbeiten beginnen. Mit dem Einbau
 des Fahrwerks und der entsprechenden Bestückung des Motorraums wurde die
 Berlina wieder auf eigene Beine gestellt. Stück für Stück wurde anschließend
 der Innenraum komplettiert und die Türen, Hauben sowie Verglasung eingepasst.
 Das hierbei für Tür- und Fensterdichtungen sowie viele anderen Kleinteile
 ausschließlich Neuteile zu Einsatz kamen versteht sich von selbst.
</p>

<p>
 Wie die <b>Bilder 14 und 15</b> zeigen, wurde besonders viel Aufwand bei der
 optischen Gestaltung des Motorraums getrieben. Ebenso beim Kofferraum, dieser
 wurde komplett mit schwarzem Velours ausgeschlagen und die Ränder mit Leder
 eingefasst.
</p>

{% include figure.html
  src="/img/automobiles/berlina/berlina_motorraum.jpg"
  alt="Motorraum"
  caption="<b>Bild 14</b> Motorraum"
%}

{% include figure.html
  src="/img/automobiles/berlina/berlina_kofferraum.jpg"
  alt="Kofferraum"
  caption="<b>Bild 15</b> Kofferraum"
%}

<h2><a name="ausfahrten"></a>Ausfahrten und Nacharbeiten</h2>

<p>
 Nach Zulassung der Berlina mit Oldtimer Wechselkennzeichen konnten dann im
 Sommer 2014 die ersten Ausfahrten erfolgen.
</p>

<p>
 Hier zeigte sich schnell ein Problem mit der Hinterachse. Die beim Kauf
 montierten Räder mit Stiel-Alufelgen berührten bei Kurvenfahrten die
 Karosserie. Da das Problem auch durch Ausrichten der Hinterachse nicht zu
 beseitigen war, konnten nur die neuen Federn der Hinterachse ursächlich sein.
 Durch Zufall konnte ich die recht seltenen original Stahlfelgen mit den großen
 Chrom-Radkappen bei Ebay ersteigern. Mit neuer Bereifung ausgestattet gaben sie
 der Berlina auch wieder das originale Aussehen zurück. Die Aluräder konnten
 günstig verkauft werden, somit gestaltete sich die Umrüstung als kostenneutral.
 Mit dieser Maßnahme war das Problem der schleifenden Räder zunächst gelöst.
 Wie sich später herausstellte waren aber auch falsche Federn montiert. Die im
 Handel angebotenen Federn für die Berlina <b>(Bild 16)</b> sollten angeblich
 mit den Federn für den Montreal identisch sein. Tatsächlich gehören in die
 Berlina aber die Federn vom Serie 4 Spider rein!
</p>

{% include figure.html
  src="/img/automobiles/berlina/berlina_hinterachsfedern.jpg"
  alt="Federn Hinterachse"
  caption="<b>Bild 16</b> Federn Hinterachse"
%}

<p>
  Nachdem das Federproblem gelöst war störten aber noch Poltergeräusche
  besonders bei Querfugen auf der Straße aus dem Bereich der Hinterachse. Alles
  Suchen nach eventuellen Ursachen blieb erfolglos. Auf Verdacht wurden dann die
  im Zuge der Restaurierung neu eingebauten „Magneti Marelli“ Stoßdämpfer gegen
  „Koni Rot“ ausgetauscht. Die Geräusche waren sofort verschwunden und das
  Fahrverhalten natürlich auch entsprechend besser.
</p>

<p>
  Im September ging es dann auf große Fahrt zur Silvretta Bergrallye des
  Alfaclubs ins Montafon. Über 3000 km wurden zurückgelegt und die Berlina
  machte ihrem Ruf als komfortable Reiselimousine der alten Zeit alle Ehre.
  Leider machte sie aber auch besonders nach Bergabfahrten im Schiebebetrieb
  durch deutliche Rauchzeichen auf sich aufmerksam, welches sich auch in einem
  erheblichen Ölverbrauch niederschlug. Eine komplette Motorrevision schien doch
  erforderlich, besonders nachdem beim anschließenden Ausbau des Triebwerkes
  auch noch ein Haarriss im Motorblock durch den Austritt von Kühlwasser
  sichtbar wurde, offensichtlich durch einen früheren Frostschaden verursacht.
  Der Motor wurde daraufhin mit einem neuen Block nach den Kriterien eines
  Austauschmotors vollständig neu aufgebaut. Mit dem neuen Motor hat die Berlina
  inzwischen über 8000 km problemlos zurückgelegt und auch schon zweimal wieder
  an der Montafon Bergrallye teilgenommen.
</p>

<p>
  Link auf die Homepage des Alfaclubs:
  <a href="http://www.alfaclub.de"
  style="text-decoration: underline; color: blue;">
  http://www.alfaclub.de</a>
</p>

<h2><a name="bilder"></a>Bildergalerie</h2>

{% include figure.html
  src="/img/automobiles/berlina/berlina_01.jpg"
  alt="Bild 1"
  caption="<b>Bild 17</b> "
%}

{% include figure.html
  src="/img/automobiles/berlina/berlina_02.jpg"
  alt="Bild 2"
  caption="<b>Bild 18</b> "
%}

{% include figure.html
  src="/img/automobiles/berlina/berlina_03.jpg"
  alt="Bild 3"
  caption="<b>Bild 19</b> "
%}
