---
layout: article
category: automobiles
title: 'Blaupunkt Oldtimer-Autoradio auf DAB+ umbauen'
img: 'automobiles/blaupunkt_dab_titel.jpg'
order: 8
---

<ul class="toc">
  <li> <a href="#vorwort"> Vorwort</a></li>
  <li> <a href="#aufgabe"> Aufgabenstellung für den Umbau</a></li>
  <li> <a href="#dabradio"> Technik des neuen DAB-Radios</a></li>
  <li> <a href="#umbau"> Der Umbau</a></li>
  <li> <a href="#schlusswort"> Schlusswort</a></li>
</ul>

<h2><a name="vorwort"></a>Vorwort</h2>

<p>
  In einem früheren Artikel habe ich über die verschiedenen Schritte berichtet,
  wie man ein Blaupunkt Autoradio der 70-er Jahre auf Bluetooth umrüsten kann.
  Zwei dieser Umbauten sind seit mehreren Jahren in meinen Oldtimern in Betrieb
  und leisten als Freisprecheinrichtung sowie für die Musikübertragung vom Handy
  auf das Radio gute Dienste.
</p>

<p>
  Wie ich aus verschiedenen Anfragen ersehen konnte, hat dieser Bericht großes
  Interesse gefunden und manchen Bastler zum Nachbau angeregt. Leider ist ein
  derartiger Umbau bald nicht mehr sinnvoll, da UKW in absehbarer Zeit
  abgeschaltet und durch das digitale DAB+ System ersetzt wird. Neuwagen werden
  grundsätzlich schon seit einiger Zeit mit dieser Technik ausgeliefert und es
  werden auch zahlreiche Geräte zum Nachrüsten angeboten. Hier unterscheidet man
  zwischen Adaptern, die das DAB+ Signal empfangen und auf das vorhandene alte
  Gerät übertragen oder einen kompletten Austausch des Radiogerätes. Beide
  Varianten sind ab ca. 30,- € aufwärts erhältlich, Grenze nach oben offen.
</p>

<p>
  Wie kann man das nun in einen Oldtimer übertragen? Tatsächlich gibt es auch
  schon DAB+ Geräte im „alten“ Design, man erkennt das Gerät aber auf den ersten
  Blick als Neuling. Daher habe ich mich gefragt ob es möglich ist die Technik
  eines neuen Gerätes in das alte Gehäuse eines Blaupunkt Autoradios einzubauen.
  Spontan war ein neues Projekt geboren.
</p>

<h2><a name="aufgabe"></a>Aufgabenstellung für den Umbau</h2>

<p>
  Basis für einen Umbau ist ein altes Blaupunkt Radio, z.B. Frankfurt oder
  ähnlich. Das Gerät aus der Bastelkiste kann auch defekt sein, da es komplett
  ausgeschlachtet wird. Lediglich die äußeren Teile wie Tasten, Bedienknöpfe und
  die Skala sollten noch in einem optisch guten Zustand sein.
</p>

<p>
  Weiterhin ist ein neues Radiogerät mit DAB+, Bluetooth, USB, SD-Karte usw.
  erforderlich. Hier bietet sich für einen ersten Versuch ein günstiges Gerät
  (ca. 35,- €) an. Diese Geräte werden im Internet in einer Vielzahl angeboten
  und haben alle Features der modernen Technik, davon können die guten alten
  Blaupunkt Radios nur träumen.
</p>

<p>
  Bei der Auswahl des Gerätes war die Ausführung des Displays entscheidend.
  Dieses sollte keinen unnötigen Schnickschnack aufweisen und von den
  Abmessungen in das vorhandene Fenster des Blaupunkt-Gerätes passen. Ein neues
  Gerät mit symmetrischem Aufbau wie bei den früheren Radios habe ich nicht
  gefunden, alle neuen Geräte haben links eine zentrale Bedieneinheit und das
  Display ist rechts angeordnet. Das bedeutet, die komplette Bedieneinheit incl.
  Display müssen ausgelöst werden und in die Front des alten Blaupunkt Radios
  integriert werden.
</p>

<h2><a name="dabradio"></a>Technik des neuen DAB-Radios</h2>

<p>
  Die Auswahl fiel auf ein Modell, welches in den folgenden Bildern dargestellt
  wird:
</p>

{% include figure.html
  src="/img/automobiles/blaupunktdab/bild1.jpg"
  alt="Frontansicht des DAB+ Gerätes"
  caption="<b>Bild 1</b> Frontansicht und Bedienung des DAB+ Gerätes"
%}

<p>
  Eigenschaften des DAB+ Radios:
  wird:
</p>
<p>
  <ul>
    <li>Integrierter FM / DAB / DAB + Tuner</li>
    <li>Voreinstellung für 18 FM-Sender und 6 DAB-Sender</li>
    <li>Verstärkerleistung 4 * 25 W, 4 Lautsprecherausgänge</li>
    <li>Bluetooth-Konnektivität für Freisprechen und drahtloses Musik-Streaming </li>
    <li>Wiedergabe über Micro-SD-Karte, USB-Eingang und AUX IN </li>
    <li>USB-Ladeausgang</li>
    <li>EQ / BALANCE / LOUD-Einstellung</li>
  </ul>
</p>

{% include figure.html
  src="/img/automobiles/blaupunktdab/bild2.jpg"
  alt="Abmessungen des DAB+ Gerätes"
  caption="<b>Bild 2</b> Abmessungen des DAB+ Gerätes"
%}

{% include figure.html
  src="/img/automobiles/blaupunktdab/dab_rueck.jpg"
  alt="Rückansicht des DAB+ Gerätes"
  caption="<b>Bild 3</b> Rückansicht des DAB+ Gerätes"
%}

<p>
  Das Radiogerät hat Norm Maße, ist jedoch deutlich kürzer, nur etwa halb so
  tief wie die früheren Geräte. Nach dem Öffnen des Gehäuses zeigte sich, dass
  trotz der kürzeren Bauweise noch reichlich „Luft“ im Inneren vorhanden war.
  Die komplette Radioeinheit war auf einer Platine unmittelbar hinter der
  Frontplatte aufgebaut, die Endstufe mit der Stromversorgung befand sich auf
  einer Platine an der Rückseite des Gerätes.
</p>

<p>
  Die Herausforderung bestand nun darin, das Display und die Bedienungselemente
  aus der Frontplatine herauszulösen und in der alten Front des Blaupunkt Radios
  neu anzuordnen.
</p>

<h2><a name="umbau"></a>Der Umbau</h2>

<p>
  Wie schon erwähnt mussten das Display, der Lautstärkeregler und die
  SD-Kartenaufnahme aus der Platine herausgelöst werden. Bei der heutigen
  kompakten Bauweise mit SMD-Bauteilen und super dünnen Leiterbahnen war hier
  äußerste Vorsicht bei den Lötarbeiten geboten. Diese Arbeiten liefen nicht
  ohne kleinere Beschädigungen auf der Original-Platine ab, konnten aber wieder
  repariert werden. Besonders beim Display waren die Lötarbeiten nicht einfach,
  hier musste eine 36-adrige Flachband-Kabelverbindung zwischen Originalplatine
  und Display verlötet werden.
</p>

<p>
  Sämtliche Bedienelemente waren als Microtaster gegen Masse auf der
  Frontplatine verbaut. Diese blieben unverändert, jedoch wurden entsprechende
  Kabel für den parallelen Anschluss der neuen Taster angelötet. Stichwort
  „neue Taster“, die gab es natürlich nicht. Alte Blaupunkt Radios haben links
  und rechts jeweils einen Drehregler und auf gleicher Achse links einen
  weiteren Drehregler für die Tonhöhe und rechts eine Umschalter für Stereo/Mono.
  Diese waren nun auf Tastfunktionen für die Bedienung des neuen Radioteil
  umzubauen. Ebenso musste ein neuer Tastensatz für die Umschaltung der Sender
  eingebaut werden.
</p>

<p>
  Zunächst die einfache Aufgabe. Ein alter Tastensatz aus der Bastelkiste, die
  original Blaupunkt Tasten darauf angepasst und das Problem war gelöst. Bei den
  Knöpfen rechts und links wurde es schwierig, „Drehtaster“ habe ich nirgendwo
  auftreiben können. Hier blieb also nur der Eigenbau, eine mechanische
  Herausforderung. Die Doppelachsen mit Nocken ausstatten und damit Tasten
  bedienen, die aus einer alten Computer-Tastatur stammen. Sicher eine nicht
  sehr elegante Lösung, aber als Prototyp musste es reichen und es hat funktioniert!
</p>

<p>
  Fehlt nur noch die passende DAB-Antenne. Eine moderne Antenne
  (z.B. Scheibenantenne) kam für einen Oldtimer natürlich nicht infrage, hier
  sollte die verbaute Automatik-Antenne erhalten bleiben. Auch hierfür werden im
  Handel Antennenadapter angeboten, ich habe mich für den Versuch für eine
  günstige Lösung für ca. 10,- € entschieden:
</p>

{% include figure.html
  src="/img/automobiles/blaupunktdab/antennenadapter.jpg"
  alt="Antennenadapter"
  caption="<b>Bild 4</b> Antennenadapter für FM und DAB+"
%}

<p>
 Für alle neuen Bauteile habe ich simple Platinen angefertigt, um den
 mechanischen und elektrischen Aufbau zusammenzuhalten. Die folgenden Bilder
 zeigen den Innenaufbau des Gerätes aus verschiedenen Ansichten:
</p>

{% include figure.html
  src="/img/automobiles/blaupunktdab/Blaupunkt_dab_oben.jpg"
  alt="Anaicht von oben"
  caption="<b>Bild 5</b> Blick von oben in das neue Gerät"
%}

<p>
 1.	Original Frontplatine des DAB-Radios, hier horizontal angeordnet<br>
 2.	Original Rückplatine des DAB-Radios, unverändert an der Rückseite positioniert<br>
 3.	Kabelverbindung zum Frontdisplay<br>
 4.	Drehregler links für Lautstärke sowie Taster rechts/links für Ein/Aus oder Telefon<br>
 5.	2-fach Taster recht/links für Sender/Titel vor und zurück sowie Mute und Clock<br>
 6.	Tastensatz für die Senderwahl<br>
 7.	Antennenadapter für FM und DAB<br>
</p>

{% include figure.html
  src="/img/automobiles/blaupunktdab/Blaupunkt_dab_unten.jpg"
  alt="Ansicht von unten"
  caption="<b>Bild 6</b> Blick von unten in das neue Gerät"
%}

<p>
 1.	Original Rückplatine des DAB-Radios, unverändert an der Rückseite positioniert<br>
 2.	Neue Platine für die Aufnahme des Tastensatzes und der Drehtaster rechts und links<br>
</p>

{% include figure.html
  src="/img/automobiles/blaupunktdab/Blaupunkt_dab_front.jpg"
  alt="Frontansicht"
  caption="<b>Bild 7</b> Frontansicht des neuen Gerätes"
%}

<p>
 1.	Original Skala des alten Blaupunkt Radios<br>
 2.	Im Hintergrund Display des neuen DAB-Radios<br>
 3.	Tastensatz für 5 Senderspeicher<br>
 4.	Drehregler links für Lautstärke<br>
 5.	Taster rechts/links für Ein/Aus oder Telefon<br>
 6.	Taster recht/links für Sender/Titel vor und zurück<br>
 7.	Taster rechts für Mute und Clock<br>
 8.	Micro SD-Karteneinschub<br>
</p>

<h2><a name="schlusswort"></a>Schlusswort</h2>

<p>
  Bei dem vorliegenden Umbau handelt es sich um einen Prototyp. Er wurde mit
  allen Funktionen getestet und hat einwandfrei funktioniert. Auf die Verwendung
  der USB-Buchsen sowie die AUX-Buchse wurde verzichtet, es wäre jedoch
  problemlos möglich, diese Anschlüsse über entsprechende Kabel nach hinten aus
  dem Gerät herauszuführen und z.B. versteckt im Handschuhfach zugänglich zu
  machen. Ein Einbau in ein Fahrzeug steht noch aus. Ein Qualitätsvergleich mit
  anderen und teureren DAB-Geräten war mir bisher nicht möglich.
</p>

<p>
  Das vorgestellte Projekt soll einen möglichen Weg für den Umbau eines alten
  Autoradios auf die neue digitale Technik aufzeigen und bietet sicherlich noch
  deutliches Potential für eine Optimierung.
</p>
