---
layout: article
category: automobiles
title: 'Alfa Romeo Duetto Spider 1750, Protokoll einer Komplet-restauration'
img: 'automobiles/duetto_titel.jpg'
order: 2
---

<ul class="toc">
  <li> <a href="#kauf"> Der Kauf</a></li>
  <li> <a href="#bestand"> Die erste Bestandsaufnahme </a></li>
  <li> <a href="#arbeit"> Die Arbeit konnte beginnen</a></li>
  <li> <a href="#karosserie"> Karosseriearbeiten</a></li>
  <li> <a href="#fahrwerk"> Fahrwerksaqrbeiten</a></li>
  <li> <a href="#motor"> Motor und Getriebe</a></li>
  <li> <a href="#innen"> Innenausstattung</a></li>
  <li> <a href="#elektrik"> Elektrik</a></li>
  <li> <a href="#lack"> Lackierung</a></li>
  <li> <a href="#ausfahrten"> Ausfahrten</a></li>
</ul>

<h2><a name="kauf"></a>Der Kauf</h2>

<p>
  Nachdem wir schon seit einigen Jahren die Freude des offenen Fahrens mit einem
  Alfa Romeo Spider von 1993 genossen hatten, war ich nun auf der Suche nach
  einem Bertone Coupe als Ergänzung für die weniger schönen Tage im Jahr. In der
  näheren Umgebung wurden jedoch keine Fahrzeuge angeboten die meinen
  Vorstellungen entsprachen. Bei der Suche wurde ich dann aber auf einen 1750-er
  Duetto Spider von 1968 ganz in der Nähe aufmerksam. Der Zustand war
  restaurierungsbedürftig, aber der Preis war günstig und an einem
  Rundheck-Spider konnte man nun nicht einfach so vorbeigehen. Am 25.06.2002 war
  der Kauf perfekt und der Spider kam per Anhänger zu mir nach Hause, d.h. auf
  einen nahegelegenen Bauernhof, wo ich extra für die Restaurierung eine
  entsprechend große Garage angemietet hatte.(<b>Bild 1</b> ).
</p>

{% include figure.html
  src="/img/automobiles/duetto/duetto_kauf.jpg"
  alt="Ankauf Duetto Spider"
  caption="<b>Bild 1</b> Alfa Romeo Duetto Spider nach Ankauf am 25.06.2002"
%}

<h2><a name="bestand"></a>Die erste Bestandsaufnahme</h2>

<p>
  Zu Hause angekommen wurde der Neuerwerb erstmal richtig unter die Lupe
  genommen. Da ich mir sowieso vorgenommen hatte, das Fahrzeugkomplett zu
  zerlegen und neu aufzubauen konnte mich also nichts mehr schockieren.
  Obwohl der erste optische Eindruck nicht so schlecht war, kamen dann doch so
  einige meist negative Dinge zum Vorschein:
</p>

<p>
  <ul>
    <li>Die Karosserie hatte im Bodenbereich teils erhebliche Durchrostungen</li>
    <li>Die Seitenschweller waren in Ordnung, offensichtlich schon mal erneuert </li>
    <li>Ein Unfallschaden vorne links war behoben worden, im Motorraum waren
      Innenkotflügel und vordere Querstrebe aber nur unfachmännisch ausgebeult
      worden</li>
    <li>Der Lack war natürlich in die Jahre gekommen, an manchen Stellen
      schimmerten alte Schichten durch, letztlich sollten sich die Spuren von
      vier Lackierungen wiederfinden</li>
    <li>Der Motor konnte zwar für den Transport auf den Anhänger gestartet
      werden, zur Laufleistung und zum Allgemeinzustand lagen jedoch keine
      verlässlichen Informationen vor</li>
    <li>Die Bremsanlage war nach der langen Standzeit nicht mehr funktionsfähig</li>
    <li>Die Innenausstattung war vor längerer Zeit komplett in rotem Leder
      nachgerüstet worden, jedoch in einem nicht mehr ansehnlichen Zustand.</li>
  </ul>
</p>

<p>
  Um nun etwas Genaueres über die Herkunft meines Duetto zu erfahren holte ich
  erstmal eine Auskunft beim Alfa Romeo Archiv in Milano ein (<b>Bild 2</b>):
</p>

{% include figure.html
  src="/img/automobiles/duetto/duetto_auskunft.jpg"
  alt="Auskunft über die Produktion des Duetto in Milano"
  caption="<b>Bild 2</b> Auskunft vom Archivio Storico Alfa Romeo"
%}

<p>
  Also Baujahr 1968, im Jahr 1969 nach Deutschland ausgeliefert und 1970
  erstmals zugelassen. Die Farbe war im Originalton weiß und die
  Innenausstattung rot (Kunstleder).
</p>

<h2><a name="arbeit"></a>Die Arbeit konnte beginnen</h2>

<p>
  Wie die Bestandsaufnahme vermuten ließ, kam nun jede Menge Arbeit auf mich zu.
  Die konnte nur nach einem fixen Plan und System erfolgen, zumal mir hierfür
  nur meine Freizeit zur Verfügung stand.
</p>

<p>
  Zunächst habe ich Stück für Stück mit der Demontage der Anbauteile wie Lampen
  und Stoßstangen begonnen. Diese habe ich dann sofort aufgearbeitet oder falls
  erforderlich neu beschafft. Alle Teile wurden katalogisiert und Zustand,
  Arbeitsaufwand und Kostenaufwand für Reparatur oder Neubeschaffung erfasst.
  Anschließend wurden die Teile verpackt und für die spätere Montage gelagert.
  Dieder Aufwand hat sich bewährt, da der doch sehr große Umfang der Einzelteile
  überschaubar blieb und man beim Wiederaufbau nur ins Regal greifen musste.
</p>

<p>
  So wurde grundsätzlich mit allen Teilen verfahren, wobei Kleinteile wie
  Schrauben und Befestigungsteile vorzugsweise neu in Rostfrei-Qualität
  beschafft wurden.
</p>

<h2><a name="karosserie"></a>Karosseriearbeiten</h2>

<p>
  Wie schon erwähnt gab es hier einiges zu tun. Dies wurde umso deutlicher,
  nachdem die zu bearbeitenden Teile von Schmutz, Öl, Unterbodenschutz und Lack
  befreit waren.
</p>

<p>
  Beim Vorderwagen zeigte sich das Ausmaß des unsachgemäß behobenen
  Unfallschadens, hier mussten neue Bleche rein. Als Alternative zum Neukauf
  (Ersatzteile waren meist verfügbar, aber Passgenauigkeit und Preis ließen zu
  wünschen übrig) bot sich e-bay an. Hier wurde die komplette Karosserie eines
  Junior-Spiders für 1 € inseriert und ich erhielt als einziger Bieter den
  Zuschlag. Nachdem ich mich vom geeigneten Zustand überzeugt hatte lohnte sich
  auch die weite Abholung von der Ostseeküste. Die benötigten Blechteile wurden
  aus dem Spenderfahrzeug herausgetrennt und in den Duetto implantiert. Andere
  Teile des Spenderfahrzeuges konnten später noch mit Gewinn verkauft werden,
  der Rest wurde verschrottet. Die <b>Bilder 3 und 4</b> zeigen den Erfolg der
  Aktion.
</p>

{% include figure.html
  src="/img/automobiles/duetto/duetto_vorderbau_vorher.jpg"
  alt="Duetto Vorderwagen vor der Reparatur"
  caption="<b>Bild 3</b> Vorderwagen vor der Reparatur"
%}

{% include figure.html
  src="/img/automobiles/duetto/duetto_vorderbau_nachher.jpg"
  alt="Vorderwagen nach Einschweißen neuer Blechteile"
  caption="<b>Bild 4</b> Vorderwagen nach Einschweißen neuer Blechteile"
%}

<p>
  Nach der Befreiung von Lack und Spachtelmasse erwies sich auch die Frontmaske
  als erneuerungsbedürftig. Nicht nur die Blechteile waren neu zu modellieren,
  auch die aus Winkeleisen selbst gebaute Aufnahme für die Stoßstangenteile war
  durch ein Originalteil zu ersetzen. Die einzelnen Arbeitsschritte werden aus
  den <b>Bildern 4.1 bis 4.6</b> ersichtlich.
</p>

{% include figure.html
  src="/img/automobiles/duetto/duetto_front_1.jpg"
  alt="Frontmaske nach Demontage der Anbauteile"
  caption="<b>Bild 4.1 </b> Frontmaske nach Demontage der Anbauteile"
%}

{% include figure.html
  src="/img/automobiles/duetto/duetto_front_2.jpg"
  alt="Frontmaske nach Entfernen von Lack und Spachtel"
  caption="<b>Bild 4.2 </b> Frontmaske nach Entfernen von Lack und Spachtel"
%}

{% include figure.html
  src="/img/automobiles/duetto/duetto_front_3.jpg"
  alt="Frontmaske nach Anpassen des neu angefertigten Alfa-Herzstücks"
  caption="<b>Bild 4.3 </b> Frontmaske nach Anpassen des neu angefertigten
  Alfa-Herzstücks"
%}

{% include figure.html
  src="/img/automobiles/duetto/duetto_front_4.jpg"
  alt="Front mit neu eingepasster Frontschürze"
  caption="<b>Bild 4.4 </b> Front mit neu eingepasster Frontschürze"
%}

{% include figure.html
  src="/img/automobiles/duetto/duetto_front_5.jpg"
  alt="Frontmaske teilweise verschweißt"
  caption="<b>Bild 4.5 </b> Frontmaske teilweise verschweißt"
%}

{% include figure.html
  src="/img/automobiles/duetto/duetto_front_6.jpg"
  alt="Frontmaske nach der Grundierung"
  caption="<b>Bild 4.6 </b> Frontmaske nach der Grundierung"
%}

<p>
  Auch die Heckpartie des Fahrzeuges erforderte nach Entfernen von Lack und
  Spachtel eine Reparatur der Blechteile, stellte sich aber nach Abschluss der
  Arbeiten wieder wie neu dar (<b>Bilder 5.1 und 5.2</b>).
</p>

{% include figure.html
  src="/img/automobiles/duetto/duetto_heck_1.jpg"
  alt="Heckbereich nach Freilegung"
  caption="<b>Bild 5.1</b> Heckbereich nach Freilegung "
%}

{% include figure.html
  src="/img/automobiles/duetto/duetto_heck_2.jpg"
  alt="Kofferraum nach Innenlackierung"
  caption="<b>Bild 5.2</b> Kofferraum nach Innenlackierung "
%}

<p>
  Für sämtliche Arbeiten an der Karosserie hat sich ein selbst gebautes
  verfahrbares Kippgestell bestens bewährt. So konnten in angenehmer
  Körperhaltung die notwendigen Arbeiten besonders am Unterboden durchgeführt
  werden. Die Konstruktion bestand aus stabilen Vierkantprofilen mit
  Transportrollen und war um 90 Grad kippbar. Die Karosserie wurde dabei an den
  Punkten für die Wagenheber Aufnahme mit dem Kippgestell verschraubt. Die
  <b>Bilder 6.1 und 6.2</b> zeigen das Kippgestell im Einsatz.
</p>

{% include figure.html
  src="/img/automobiles/duetto/kippgestell_1.jpg"
  alt="Kippgestell waagerecht"
  caption="<b>Bild 6.1</b> Kippgestell waagerecht"
%}

{% include figure.html
  src="/img/automobiles/duetto/kippgestell_2.jpg"
  alt="Kippgestell senkrecht"
  caption="<b>Bild 6.2</b> Kippgestell senkrecht"
%}

<h2><a name="fahrwerk"></a>Fahrwerksarbeiten</h2>

<p>
 Auch das Fahrwerk wurde komplett demontiert, zerlegt, gereinigt und neu
 lackiert. Sämtliche beweglichen Teile wie Lager, Buchsen und Gelenkköpfe wurden
 hierbei erneuert. Gleiches gilt für die Bremsanlage und die Stoßdämpfer. Die
 <b>Bilder 7.1 und 7.2</b> zeigen die Vorderachsaufhängung und die
 <b>Bilder 8.1 und 8.2</b> die Hinterachsaufhängung jeweils vor und nach der
 Revision.
</p>

{% include figure.html
  src="/img/automobiles/duetto/duetto_vorderachse_vorher.jpg"
  alt="Vorderachsaufhängung vorher"
  caption="<b>Bild 7.1</b> Vorderachsaufhängung vorher"
%}

{% include figure.html
  src="/img/automobiles/duetto/duetto_vorderachse_nachher.jpg"
  alt="Vorderachsaufhängung nachher"
  caption="<b>Bild 7.2</b> Vorderachsaufhängung nachher"
%}

{% include figure.html
  src="/img/automobiles/duetto/duetto_hinterachse_vorher.jpg"
  alt="Hinterachsaufhängung vorher"
  caption="<b>Bild 8.1</b> Hinterachsaufhängung vorher"
%}

{% include figure.html
  src="/img/automobiles/duetto/duetto_hinterachse_nachher.jpg"
  alt="Hinterachsaufhängung nachher"
  caption="<b>Bild 8.2</b> Hinterachsaufhängung nachher"
%}

<h2><a name="motor"></a>Motor und Getriebe</h2>

<p>
 Da über Laufleistung und Zustand keine Aussage gemacht werden konnte, wurden
 beide Aggregate komplett zerlegt. Beim Getriebe wurden nach einer gründlichen
 Reinigung zwei Synchronringe ersetzt und das Gehäuse neu eingedichtet. Der
 Motor wurde einer kompletten Revision unterzogen mit dem Ersatz aller Lager,
 Dichtungen und Verschleißteile (Austauschmotor). Die  <b>Bilder 9.1 und 9.2</b>
 zeigen den Rumpfmotor und die Kolben, die <b>Bilder 10.1 und 10.2</b> die
 Motoransichten nach der Revision.
</p>

{% include figure.html
  src="/img/automobiles/duetto/duetto_rumpfmotor.jpg"
  alt="Rumpfmotor nach Reinigung"
  caption="<b>Bild 9.1</b> Rumpfmotor nach Reinigung"
%}

{% include figure.html
  src="/img/automobiles/duetto/duetto_kolben.jpg"
  alt="Kolben und Zylinderlaufbüchsen"
  caption="<b>Bild 9.2</b> Kolben und Zylinderlaufbüchsen"
%}

{% include figure.html
  src="/img/automobiles/duetto/duetto_motor_1.jpg"
  alt="Motor nach Revision"
  caption="<b>Bild 10.1</b> Motor nach Revision"
%}

{% include figure.html
  src="/img/automobiles/duetto/duetto_motor_2.jpg"
  alt="Motoransicht Zylinderkopf"
  caption="<b>Bild 10.2</b> Motoransicht Zylinderkopf"
%}

<h2><a name="innen"></a>Innenausstattung</h2>

<p>
 Die werksseitige Innenausstattung aus rotem Kunstleder war im Laufe der Jahre
 durch eine komplette Lederausstattung ersetzt worden. Nicht nur die Sitze,
 sondern auch Türverkleidungen, Armaturenbrett und alles was früher mal
 Kunststoff war bestand nun aus Leder. Leider hatte das Leder durch
 Sonneneinstrahlung erheblich an Farbe verloren und bedurfte einer umfangreichen
 Aufarbeitung. Mit den vom Lederzentrum angebotenen Mittels konnte der
 Originalzustand wiederhergestellt werden, ohne dabei die inzwischen vorhandene
 Patina zu verlieren. Die folgenden Bilder zeigen einen Sitz vor und nach der
 Aufbereitung. Die <b>Bilder 11.1 und 11.2</b> zeigen die Sitze vor und nach der
 Aufbereitung.
</p>

{% include figure.html
  src="/img/automobiles/duetto/duetto_sitz_vorher.jpg"
  alt="Sitz vor Aufbereitung"
  caption="<b>Bild 11.1</b> Sitz vor Aufbereitung"
%}

{% include figure.html
  src="/img/automobiles/duetto/duetto_sitz_nachher.jpg"
  alt="Sitz nach Aufbereitung"
  caption="<b>Bild 11.2</b> Sitz nach Aufbereitung"
%}

<p>
 Beim Armaturenbrett waren neben den Lederarbeiten auch Blecharbeiten und
 Lackiermaßnahmen erforderlich. Der große DIN-Ausschnitt für ein modernes Radio
 musste wieder auf das ursprüngliche Maß zurückgeführt werden, um ein
 zeitgenössisches Radiogerät aufzunehmen. Nach der Lackierung in Wagenfarbe war
 der Originalzustand wiederhergestellt. Natürlich wurden auch alle Instrumente
 zerlegt, gesäubert und auf Funktion geprüft. Ebenso erfolgte eine neue
 Verdrahtung hinter dem Armaturenbrett, da durch den Einbau von zusätzlichen
 Schaltern und Geräten dringend Ordnung in die wilde Kabelführung gebracht
 werden musste. Die Bilder zeigen wieder den Zustand vorher und nachher. Die
 <b>Bilder 12.1 und 12.2</b> zeigen den Zustand vor und nach der Aufbereitung.
</p>

{% include figure.html
  src="/img/automobiles/duetto/duetto_armaturenbrett_vorher.jpg"
  alt="Armaturenbrett vor Aufbereitung"
  caption="<b>Bild 12.1</b> Armaturenbrett vor Aufbereitung"
%}

{% include figure.html
  src="/img/automobiles/duetto/duetto_armaturenbrett_nachher.jpg"
  alt="Armaturenbrett nach Aufbereitung"
  caption="<b>Bild 12.2</b> Armaturenbrett nach Aufbereitung"
%}

<h2><a name="elektrik"></a>Elektrik</h2>

<p>
 Im Rahmen der Revision wurden neben der Beleuchtung und allen sonstigen
 elektrischen Aggregaten auch die Kabelbäume ausgebaut. Diese wiesen nach den
 Jahren und immer wieder durch Eingriffe beim Einbau von Zusatzausstattung
 erhebliche Schäden auf. Die Gelegenheit war also gegeben, diese komplett
 aufzuarbeiten, d.h. aufwickeln, beschädigte Kabel ersetzen und ggf. neue
 erforderliche Kabel hinzufügen und anschließend wieder neu zu wickeln. Durch
 diese Maßnahme konnten der vordere sowie der hintere Kabelbaum quasi in
 Neuzustand gebracht werden und die Verdrahtung der Zusatzausstattung integriert
 werden. <b>Bild 13</b> zeigt den Schaltplan mit Zusatzausstattung.
</p>

{% include figure.html
  src="/img/automobiles/duetto/duetto_schaltplan.jpg"
  alt="Schaltplan mit Zusatzausstattung"
  caption="<b>Bild 13</b> Schaltplan mit Zusatzausstattung"
%}

<h2><a name="lack"></a>Lackierung</h2>

<p>
 Bei den durchgeführten Blecharbeiten waren die betroffenen Stellen komplett vom
 alten Lack befreit worden, um die erforderlichen Schweißarbeiten durchzuführen.
 Anschließend wurde sofort Grundierung aufgetragen, um das blanke Blech während
 der weiteren Arbeitszeit vor Korrosion zu schützen. Vor der geplanten
 Neulackierung wurde nun die gesamte Karosserie innen wie außen von dem
 restlichen noch vorhanden Lack befreit. In diesem Zustand wurde die Rohkarosse
 dem Lackierer übergeben, dieser hat dann von Grund auf einen neuen Lackaufbau
 in mehreren Schichten vorgenommen. Nach Endlackierung der Innenräume und
 Grundierung der Außenhaut kam das Fahrzeug zunächst zu mir zurück, um die
 Montage des Fahrwerks und der Antriebseinheit durchzuführen. Somit konnte eine
 evtl. Beschädigung der Endlackierung vermieden werden. Die Endlackierung wurde
 dann im Originalfarbton AR 008 – Bianco Pininfarina als letzter Arbeitsschritt
 beim Lackierer aufgetragen. Die <b>Bilder 14.1 und 14.2</b> zeigen diese beiden
 Arbeitsstufen.
</p>

{% include figure.html
  src="/img/automobiles/duetto/duetto_lack_1.jpg"
  alt="Lackierung 1"
  caption="<b>Bild 14.1</b> Karosserie nach Innenlackierung und Auftragen von
  Spritzspachtel auf die Außenhaut"
%}

{% include figure.html
  src="/img/automobiles/duetto/duetto_lack_2.jpg"
  alt="Lackierung 2"
  caption="<b>Bild 14.2</b> Endlackierung der Karosserie"
%}

<p>
 Nach Komplettierung der wesentlichen Einrichtungen konnte am 11.06.2005 ein
 erster Probelauf starten. Die <b>Bilder 15.1 und 15.2</b> zeigen die Phasen
 der Komplettierung.
</p>

{% include figure.html
  src="/img/automobiles/duetto/duetto_komplett_motor.jpg"
  alt="Komplettierung Motorraum"
  caption="<b>Bild 15.1</b> Einbau der Nebenaggregate im Motorraum"
%}

{% include figure.html
  src="/img/automobiles/duetto/duetto_komplett_innen.jpg"
  alt="Komplettierung Innenausstattung"
  caption="<b>Bild 15.2</b> Einbau der Innenausstattung"
%}

<h2><a name="ausfahrten"></a>Ausfahrten</h2>

<p>
 Nach endgültiger Fertigstellung aller Details waren TÜV und H-Zulassung reine
 Formsache. Die erste Ausfahrt konnte am 13.09.2005 stattfinden.
 (<b>Bilde 16</b>)
</p>

{% include figure.html
  src="/img/automobiles/duetto/duetto_ausfahrt.jpg"
  alt="1. Ausfahrt"
  caption="<b>Bild 16</b> Erste Ausfahrt am 13.09.2005"
%}

<p>
  Der neu geborene Duetto Spider kam nicht nur bei unseren Freunden des Alfaclub
  gut an, wie folgende Aufstellung eindrucksvoll beweist:
</p>

<p>
  <ul>
    <li>1. Preis für den schönsten Spider beim Spidertreffen des Alfaclubs am
      24.09.2005 in Dortmund</li>
    <li>1. Preis für den schönsten Spider beim Spidertreffen des Alfaclubs am
      08.07.2006 in München </li>
    <li>Bericht in der Auto Bild Nr. 19 am 08.05.2009</li>
    <li>1. Preis für den schönsten Spider beim Spidertreffen des Alfaclubs am
      24.08.2013 in Luisenthal/Thüringen</li>
    <li>1. Preis für den schönsten Spider beim Spidertreffen des Alfaclubs am
      06.09.2014 in Eisborn/Sauerland</li>
    <li>Best of Show beim Spidertreffen des Alfaclubs am 26.09.2015 in
      Bielefeld</li>
  </ul>
</p>

<p>
  Link auf die Homepage des Alfaclubs:
  <a href="http://www.alfaclub.de"
  style="text-decoration: underline; color: blue;">
  http://www.alfaclub.de</a>
</p>
