---
layout: article
category: automobiles
title: 'Der Kartsport'
img: 'automobiles/kart_titel.jpg'
order: 1
---

<ul class="toc">
  <li> <a href="#anfang"> Der Anfang 1996</a></li>
  <li> <a href="#next"> Der nächste Schritt </a></li>
  <li> <a href="#sieger"> Das Siegerkart</a></li>
  <li> <a href="#emc"> Der Erler Motor Club</a></li>
</ul>

<h2><a name="anfang"></a>Der Anfang 1996</h2>

<p>
  Offensichtlich hat mein Sohn meine Begeisterung für den Motorsport geerbt.
  Schon in jungen Jahren zog es ihn zu einer nahe gelegenen Leihkart-Bahn,
  zuerst leider nur als Zuschauer da das Mindestalter für die Fahrer 10 Jahre
  betrug. Als er dann an seinem 10. Geburtstag die ersten Runden drehen durfte
  war das Feuer entfacht und es blieb nicht der letzte Besuch auf der Bahn.
  Bald darauf meinte er, dass ich ihm doch ein eigenes Kart bauen könnte. Die
  Idee war faszinierend, die alte Gartenliege sollte sowieso entsorgt werden und
  schnell war eine Flex zu Hand und die Liege zerlegt. Da waren wir natürlich
  etwas übereifrig, denn das Material war nicht geeignet und ohne Plan war das
  Projekt natürlich zum Scheitern verurteilt.
</p>

<P>
  Also erst mal ein Konzept entwickeln und die Grundsatzfragen klären:
</p>
<ul>
  <li>Welcher Moter ist geeignet und kostengünstig zu beschaffen</li>
  <li>Wie sind Antrieb und Bremsanlage zu realisieren</li>
  <li>Lenkung, Räder und ein Sitz gehören auch noch dazu</li>
  <br>
</ul>

<P>
  Von einem benachbarten Motorradhändler konnten wir kostenfrei ein
  schrottreifes Moped erhalten. Der dort verbaute Sachs 2-Gang Motor war noch in
  Takt und somit die Motorfrage geklärt. Auspuff und Kupplungshandgriff konnten
  ebenfalls übernommen werden. Der Antrieb erfolgte wie üblich über eine Kette
  auf das Ritzel der Hinterachse. Eine komplette Hydraulikbremse konnte unser
  Neffe beisteuern, diese stammte noch aus seiner aktiven Zeit, als er zusammen
  mit Michael Schumacher in der deutschen Kart-Meisterschaft unterwegs war. Die
  Lenkung und der Sitz wurden selbst gefertigt, die Vollgummi-Räder stammten von
  einer Sackkarre.
</p>

<P>
  Nachdem diese Komponenten festgelegt waren, konnte der Rahmen entsprechend
  konstruiert werden. Dieser wurde dann zunächst gezeichnet und anschließend
  aus Vierkant-Profilen zusammengeschweißt (<b>Bild 1</b> ).
</p>

{% include figure.html
  src="/img/automobiles/kart/1996_kart11_rahmen.jpg"
  alt="1996 Kart1 Rahmen"
  caption="<b>Bild 1</b>   Rahmenkonstruktion aus Vierkant-Profilen"
%}

<P>
  Der Rahmen wurde grün lackiert und mit dem erwähnten Motor sowie der Bremse
  bestückt. Bei den restlichen Anbauteilen musste manche unkonventionelle Lösung
  gefunden werden. So wurde der Tank aus einer alten Keksdose zusammengelötet,
  die Pedalerie  selbst gefertigt und als Bodenblech musste ein altes Backblech
  herhalten  (<b>Bild 2</b> ).
</p>

{% include figure.html
  src="/img/automobiles/kart/1996_kart12_aufbau.jpg"
  alt="1996 Kart1 Aufbau"
  caption="<b>Bild 2</b>   Zusammenbau des Karts"
%}

<P>
  Kaum zu glauben, aber nach dem Zusammenbau aller Teil präsentierte sich das
  Kinder-Kart wie auf (<b>Bild 3</b> ) zu sehen als durchaus funktionstüchtiges
  Fahrzeug,  knatterte munter vor sich hin und brauchte noch nicht einmal
  angeschoben zu werden, da die Original-Tretkurbel für den Startvorgang
  eingesetzt wurde.
</p>

{% include figure.html
  src="/img/automobiles/kart/1996_kart13_fertig.jpg"
  alt="1996 Kart1 Fertig"
  caption="<b>Bild 3</b>   Erstes Kart 1996"
%}

<P>
  Nach einigen erfolgreichen Fahrversuchen auf unserer Straße (wenig befahrene
  Sackgasse!) wurde uns schnell ein weiters Problem bewusst, die Straße konnte
  nur eine Ausnahme sein, wo sollte man also in Zukunft nun mit dem Ding fahren?
  Nachforschungen ergaben, dass im Nachbarort der Erler Motor Club mit einer
  eigenen Kartbahn existierte. Bei einer ersten Kontaktaufnahme erfuhren wir,
  dass der Verein schon in den 70-er Jahren gegründet wurde und seit dieser Zeit
  mit selbst gebauten Karts regelmäßig Rennen veranstaltetet. Die Fahrzeuge
  waren auf Basis der damaligen Glas-Goggomobile auf einem Gitterrahmen
  aufgebaut und kommen auch heute noch zum Einsatz. Wir durften dann an den
  Renntagen die Zeit zwischen den Läufen Nutzen und unser Sohn konnte mit seinem
  Kinder-Kart auf der Bahn in der Erler Heide den Pausenclown geben
  (<b>Bild 4</b> ).
</p>

{% include figure.html
  src="/img/automobiles/kart/1996_kart14_bahn.jpg"
  alt="1996 Kart1 Bahn"
  caption="<b>Bild 4</b>   Erstes Kart auf der Erler Bahn 1996"
%}

<h2><a name="next"></a>Der nächste Schritt</h2>

<p>
  Der Erler-Motor-Club befand sich in diesen Tagen in einer Umbruch-Phase, man
  hatte von einer insolventen Leihkart-Bahn den kompletten Fahrzeugbestand
  aufgekauft und wollte damit eine neue Klasse für die Jugend etablieren. Die
  Fahrzeuge mit Honda 4-Takt Motoren waren meist in einem schlechten Zustand
  (<b>Bild 5</b> ), mussten also aufbereitet werden und auch von Gas- auf
  Benzinbetrieb umgerüstet werden.
</p>

{% include figure.html
  src="/img/automobiles/kart/1997_kart21.jpg"
  alt="1997 Kart2 Anlieferzustand"
  caption="<b>Bild 5</b>   Zweites Kart im Anlieferzustand 1997"
%}

<p>
  Letztlich waren es aber schon richtige Karts, also kein Vergleich mit unserem
  Kinderspielzeug. Wir sind dann sofort mit in das Projekt eingestiegen, haben
  eines der Karts erworben und für den Renneinsatz auf der Bahn komplett neu
  aufgebaut. <b>Bild 6</b> zeigt den überarbeiteten Rahmen.
</p>

{% include figure.html
  src="/img/automobiles/kart/1997_kart22.jpg"
  alt="1997 Kart 2 Rahmen"
  caption="<b>Bild 6</b>   Rahmen nach Restauration"
%}

<p>
  Neben dem Rahmen wurden natürlich alle Teile überarbeitet oder neu
  angeschafft. Motor und Bremsen wurden überholt, Front- und Seitenspoiler in
  Gelb erneuert sowie der Sitz gepolstert und mit einem von meiner Frau selbst
  genähten Bezug aus Kunstleder ausgestattet. Nach all diesen
  Restaurierungs-Maßnahmen war die Ausgangsbasis nicht mehr wiederzuerkennen
  und das Kart erstrahlte in neuem Glanz. <b>Bild 7</b> macht den Unterschied
  zur Basis nach dem Wiederaufbau deutlich.
</p>

{% include figure.html
  src="/img/automobiles/kart/1997_kart23.jpg"
  alt="1997 Kart 2 fertig"
  caption="<b>Bild 7</b>   Kart kurz vor der Fertigstellung"
%}

<p>
  Mit diesem Kart <b>Bild 8</b> haben wir dann über ein Jahr lang die Rennen in
  unserem Verein bestritten und viel Erfahrung gesammelt. Bald zeigten sich dann
  aber auch die Leistungsgrenzen dieser Fahrzeuge, der serienmäßige 160 ccm
  Motor mit 5,5 PS hatte kein leichtes Spiel mit dem schweren und robusten
  Rahmen von der Leihkart-Bahn. Ein allgemeines Aufrüsten begann zunächst mit
  leichtem Motortuning, die Möglichkeiten am Fahrzeug selbst ließen aber kaum
  Raum für wirkungsvolle Verbesserungen. Die Erkenntnis reifte, dass um
  wettbewerbsfähig zu werden größere Investitionen in ein neueres Kart
  getätigt werden mussten.
</p>

{% include figure.html
  src="/img/automobiles/kart/1997_kart24.jpg"
  alt="1997 Kart 2 Bahn"
  caption="<b>Bild 8</b> Kart im Renneinsatz auf der Bahn"
%}

<p>
  Der Kart-Virus hatte die gesamte Familie erfasst, so hat uns auch meine Frau
  bei unserem Hobby immer begleitet und unterstützt. Während unser Sohn mit mir
  am Kart geschraubt hat sorgtet meine Frau parallel zur Technik für das nötige
  Outfit. Im Laufe der Zeit mussten mehrere Rennanzüge herhalten. Diese hat
  meine Frau perfekt geschneidert und  immer mit dem Wachstum unseres Sohnes
  (<b>Bild 9</b> ) Schritt gehalten. Die Rennanzüge aus dieser Zeit haben wir
  natürlich aufbewahrt, sie geben Zeugnis von der frühen Zeit unseres Kartsports.
</p>

{% include figure.html
  src="/img/automobiles/kart/rennanzuege.jpg"
  alt="Rennanzüge"
  caption="<b>Bild 9</b> Rennanzüge mehrerer Jahre"
%}

<p>
  Der Ablauf unserer Rennen mit der erforderlichen Zeiterfassung war natürlich
  ohne die entsprechende Technik nicht möglich. So haben wir schon früh
  angefangen unsere Fahrzeuge mit Transpondern für die Zeitnahme auszustatten.
  Anfangs haben wir verschiedene AMB-Systeme eingesetzt. Da sich hier aber die
  Hard- und Software nach wenigen Jahren änderte und somit regelmäßig eine neue
  Anlage angeschafft werden musste, sind wir von dieser kostspieligen Variante
  abgewichen und basieren heute unsere Zeitmessanlage auf Speed Transpondern.
</p>

<p>
  Link auf die Homepage des Transpoder Herstellers:
  <a href="http://www.speedtransponder.de"
  style="text-decoration: underline; color: blue;">
  http://www.speedtransponder</a>
</p>

<p>
  Den Empfänger habe ich zusammen mit einer Steuerung für die Funkampel incl.
  Zeit- und Rundenanzeige (über arduino uno) in eine kleine Box eingebaut.
  Zusammen mit einem Tablet PC, welcher auch die Stromversorgung der Messanlage
  übernimmt, ergibt sich somit eine kleine transportable Einheit. Die Software
  des Transponderherstellers war leider nicht auf unsere Bedürfnisse
  zugeschnitten, daher habe ich eine eigene Software speziell für unseren Verein
  entwickelt (<b>Bild 10</b> ).
</p>
{% include figure.html
  src="/img/automobiles/kart/zeitnahme.jpg"
  alt="Zeitnahme"
  caption="<b>Bild 10</b> EMC Zeitnahmesoftware"
%}
<h2><a name="sieger"></a>Das Siegerkart</h2>

<p>
  Mit dem Erwerb eines gebrauchten Dino-Karts (<b>Bild 11</b> ) in fast
  neuwertigem Zustand war 1998 der Weg offen, im vorderen Feld um den Sieg
  mitzufahren. Der leichte und flexible Rahmen passte hervorragend zu unserer
  kurvenreichen, mit einer Steilkurve ausgestatteten Bahn. Hiermit wurde dann
  der Grundstein gelegt für die späteren erfolgreichen Jahre im Kartverein des
  Erler Motor Clubs. Diese Zeit war geprägt vom „Schumi-Fieber“ und die
  Begeisterung für den Kartsport war groß und entsprechend der Wettbewerb in
  unserem Verein. Eine allgemeine Aufrüstung setzte ein und auch wir überlegte
  wie die Leistung der 160 ccm Honda-Motoren gesteigert werden konnte.
</p>

{% include figure.html
  src="/img/automobiles/kart/1998_kart31.jpg"
  alt="1998 Kart3 Kauf"
  caption="<b>Bild 11</b> Dino-Kart 1998"
%}

<p>
  Im Jahr 2000 war es dann soweit, das Kart mit dem bewährten Dino-Rahmen wurde
  komplett überarbeitet. Die Motorleistung wurde durch den Einsatz von
  Schütte-Technik sowie weitere Tuningmaßnahmen (<b>Bild 12</b> ) in mehreren
  Schritten gesteigert. Letztlich konnte die Serienleistung des Triebwerkes mehr
  als verdoppelt werden.
</p>

{% include figure.html
  src="/img/automobiles/kart/2000_kart32.jpg"
  alt="2000 Kart3 Tuning"
  caption="<b>Bild 12</b> Dino-Kart nach Tuning 2000"
%}

<p>
  Diese Maßnahmen haben sich bewährt und garantieren noch heute erfolgreiche
  erste Plätze bei unserer Vereinsmeisterschaft. Inzwischen ist unser Sohn den
  Kinderschuhen längst entwachsen und ist als einer der wenigen Fahrer dem
  Kartsport in unserem Verein immer noch treu geblieben (<b>Bild 13</b> ).
</p>

{% include figure.html
  src="/img/automobiles/kart/2010_kart33.jpg"
  alt="2010 Kart heute"
  caption="<b>Bild 13</b> Dino Kart heute"
%}

<h2><a name="emc"></a>Der Erler Motor Club</h2>

<p>
  Leider hat das Interesse am Kartsport in letzter Zeit deutlich nachgelassen
  und wir haben erhebliche Nachwuchssorgen in unserem Verein. Die wenigen
  verbliebenen Fahrer der Kart-Klasse haben in den letzten Jahren durch den
  Einsatz von getunten 270 ccm Honda-Motoren die Leistung ihrem Alter und ihrer
  Erfahrung angepasst und liefern sich heute noch spannende Rennen in der Erler
  Heide.
</p>

<p>
  Viele Informationen über unseren inzwischen 47 Jahre alten Verein, den Erler
  Motor Club, findet ihr auf unserer Homepage:
</p>

<p>
  Link auf die Homepage des Erler Motor Clubs:
  <a href="http://www.erler-motor-club.de"
  style="text-decoration: underline; color: blue;">
  http://www.erler-motor-club.de</a>
</p>

<p>
  Hier ist die Geschichte unseres Vereins sowie das aktuelle Geschehen
  nachzulesen. Zurzeit boomt die Goggo-Klasse, in der immer noch die alten,
  auf Goggomobil-Technik basierenden Fahrzeuge zum Einsatz kommen, teilweise
  jedoch durch den Einsatz neuer Technologien erheblich aufgewertet.
</p>
