---
layout: article
category: automobiles
title: 'Scheibenwischer bei 105-er Alfas optimieren'
img: 'automobiles/wischer_titel.jpg'
order: 5
---

<ul class="toc">
  <li> <a href="#start"> Ausgangssituation</a></li>
  <li> <a href="#basis"> Basis für einen Umbau</a></li>
  <li> <a href="#elektrik"> Die Elektrik des Scheibenwischers</a></li>
  <li> <a href="#schalter"> Der Schalter</a></li>
  <li> <a href="#umbaumassnahmen"> Umbaumaßnahmen</a></li>
  <li> <a href="#ausfuehrung"> Elektrische Ausführung</a></li>
  <li> <a href="#mechanik"> Mechanische Ausführung</a></li>
  <li> <a href="#fertig"> Der fertige Wischer Intervallschalter</a></li>
</ul>

<h2><a name="start"></a>Ausgangssituation</h2>

<p>
  Bei den Alfa Romeo Oldtimern der Baureihe 105 (Giulia, Bertone, Spider und
  Berlina) aus den 60-er und 70-er Jahren ist verständlicherweise der heutige
  Komfort bei der Ansteuerung der Scheibenwischer noch nicht gegeben. Es sind
  nur zwei Wischstufen vorgesehen, besonders vermisst man aber bei längeren
  Fahrten eine Intervallschaltung. Dies ist umso störender, da die kleinen
  Kippschalter für den Wischer im Armaturenbrett oder in der Mittelkonsole
  verbaut und somit schlecht erreichbar sind, bei Nieselregen aber laufend von
  Hand betätigt werden müssen. Nachdem mich dieser Umstand schon lange gestört
  hat, möchte ich nun meinen Vorschlag für einen Umbau vorstellen. Hierbei waren
  folgende Kriterien zu bedenken:
</p>

<p>
  <ul>
    <li>Der Wischerschalter musste mindestens eine zusätzliche Stufe für das
      Intervall erhalten</li>
    <li>Die Positionierung des Schalters sollte verbessert werden, vorzugsweise
      an der Lenksäule</li>
    <li>Die Schaltungstechnik mit Intervall musste in die bestehende Elektrik
      integriert werden</li>
    <li>Die Umbaumaßnahmen durften auf keinen Fall den Charakter des Oldtimers
      stören und mussten so unauffällig wie möglich erfolgen </li>
  </ul>
</p>

<h2><a name="basis"></a>Basis für einen Umbau</h2>

<h2><a name="elektrik"></a>Die Elektrik des Scheibenwischers</h2>

<p>
  Bei dem in den 105-er Alfas verbauten Scheibenwischermotoren handelt es sich
  um fremderregte Nebenschlussmotoren mit zwei parallelen Erregerwicklungen. Der
  Motor läuft in der langsamen Stufe, wenn die volle Erregung durch beide
  Wicklungen gegeben ist (Feldschwächung). In der schnellen Stufe ist nur eine
  Wicklung eingeschaltet. Dieser Umstand spiegelt sich in der in <b>Bild 1</b>
  gezeigten Grundschaltung für die Elektrik des Scheibenwischers wieder. Die
  blaue Leitung zeigt den Stromfluss in Stufe 1, die weiß-schwarze Leitung in
  der schnelleren Stufe 2. Diese Schaltung zeigt einen grundsätzlichen Gegensatz
  zu späteren Bauweisen, diese schalten in Stufe 1 eine Wicklung und für den
  Schnelllauf in Stufe 2 wird eine zweite Wicklung zugeschaltet! Neben dem
  Kippschalter ist ein Fußschalter mit Tastkontakt und einer mechanischen Pumpe
  für das Waschwasser werksseitig verbaut.
</p>

{% include figure.html
  src="/img/automobiles/wischer/wischer_01_basisschaltung.jpg"
  alt="Prinzipielle Schaltung für den Scheibenwischer bei den 105-er Alfas"
  caption="<b>Bild 1</b> Prinzipielle Schaltung für den Scheibenwischer bei den
  105-er Alfas"
%}

<p>
  Bei der Restaurierung meiner Berlina habe ich einen ersten Schritt zur
  Optimierung der Anlage unternommen und den Waschbetrieb um eine elektrische
  Pumpe ergänzt. Diese wurde wie im <b>Bild 2</b> gezeigt über ein Relais mit
  zwei Schaltkontakten hinter dem werkseitigen Fußschalter angeschlossen. Das
  Relais war in einem kleinen Gehäuse verbaut, welches als Zwischenstecker in
  die Kabelführung vom Fußschalter zum Wischer eingefügt wurde.  Die elektrische
  Wischerbetätigung erfolgt wie bisher über den Fußschalter, gleichzeitig wird
  aber auch die Pumpe für das Scheibenwaschwasser über das Relais angesteuert.
  Es ist also nur ein konstanter Druck auf den Fußschalter erforderlich und das
  lästige Pumpen entfällt.
</p>

{% include figure.html
  src="/img/automobiles/wischer/wischer_02_wascherschaltung.jpg"
  alt="Scheibenwischer-Grundschaltung ergänzt um eine elektrische Pumpe für das
  Wischwasser"
  caption="<b>Bild 2</b> Scheibenwischer-Grundschaltung ergänzt um eine
  elektrische Pumpe für das Wischwasser"
%}

<h2><a name="schalter"></a>Der Schalter</h2>

<p>
  Die Wahl eines geeigneten Schalters für mehrere Wischstufen mit
  Intervallbetrieb sollte sich als größtes Problem herausstellen. Für den
  werksseitig verbauten Kippschalter mit 3 Stellungen (0 – 1 – 2) ließ sich beim
  Autozubehör wie auch beim Electronic-Handel kein Ersatz mit einer zusätzlichen
  Schaltposition finden. Mehrstufige Schalter werden meist nur als Drehschalter
  angeboten, diese passen aber weder von den Abmessungen noch von der Optik in
  den vorgegebenen Einbauort. Somit wurde dem Wunsch Nachdruck verliehen, einen
  neuen Schalter an der Lenksäule anzubringen. Der alte Schalter konnte dann an
  seinem angestammten Ort verbleiben und gegebenenfalls parallel genutzt werden,
  ohne das Gesamtbild der Armaturen zu stören.
</p>

<p>
  Die Suche nach einem Lenkstockschalter wird durch das Internet sehr leicht
  gemacht. Hier wird eine Vielzahl von neuen und gebrauchten Schaltern angeboten.
  Die Auswahl lässt sich jedoch schnell eingrenzen, moderne Schalter mit einer
  Vielzahl von Funktionen kommen auch aus optischen Gründen für unseren Fall
  nicht in Frage. Alle Schalterkombinationen (Licht, Blinker, Wischer usw.), die
  um die Lenksäule montiert werden müssen sind fahrzeugspezifisch und können
  ebenso ausgeschlossen werden. Übrig bleiben einige wenige preisgünstige
  Exemplare, mit Porto unter 10 €! Bei diesen Preisen kann man das Experiment
  wagen, einfach solch ein Exemplar zu bestellen. Meine Wahl fiel auf einen
  Schalter aus einem BMW E36, dieser hat eine Tastfunktion nach unten und 3
  Schalterfunktionen nach oben, also nicht Zuviel aber auch nicht Zuwenig für
  mein Vorhaben.
</p>

<h2><a name="umbaumaßnahmen"></a>Umbaumaßnahmen</h2>

<h2><a name="ausfuehrung"></a>Elektrische Ausführung</h2>

<p>
  Nachdem der gelieferte BMW-Schalter in allen Positionen durchgemessen wurde,
  waren die möglichen Anschlussoptionen ersichtlich. Hier zeigte sich das oben
  schon angesprochene Problem, es gab einen Schaltausgang für Stufe 1 und zwei
  Schaltausgänge für Stufe 2.  Diese mussten also umgekehrt werden. Mit einem
  3 mm Ø Bohrer wurden die beiden Hohlnieten entfernt und somit die Kontakte
  zugänglich (siehe <b>Bild 3</b>):
</p>

{% include figure.html
  src="/img/automobiles/wischer/wischer_03_schalterumbau.jpg"
  alt="Geöffneter Schalter mit Modifikation der Schaltkontakte"
  caption="<b>Bild 3</b> Geöffneter Schalter mit Modifikation der
  Schaltkontakte"
%}

<p>
  Der grün markierte Kontaktbereich war für die zwei Wicklungen in der 2. Stufe
  verantwortlich und musste durch Abschleifen entfernt werden. Anschließend war
  für jede Stufe jeweils nur ein Schaltausgang vorhanden. Nach Reinigung des
  Schalters, Entfernen von verharzten Fettrückständen und Zugabe von neuem
  Kontaktfett konnte der Schalter mit 3 mm Gewindeschrauben wieder verschlossen
  werden.
</p>

<p>
  Bei der Realisierung der Intervallschaltung war klar, dass aufgrund der oben
  beschriebenen Motorsteuerung der Einsatz von Intervallrelais anderer
  Hersteller (z.B. VW Nr. 99) nicht möglich war. Nicht nur die unterschiedliche
  Beschaltung der beiden Wicklungsstufen stand hier im Widerspruch, auch der
  erforderliche Massekontakt für die 0-Stellung des Wischers ist bei unserm
  Motor nicht vorhanden!
</p>

<p>
  Für die Intervallsteuerung wurde daher auf eine klassische Schaltung mit dem
  Timer- Baustein NE 555 als astabiler Multivibrator (Taktgeber)zurückgegriffen
  (<b>Bild 4</b>).
</p>

{% include figure.html
  src="/img/automobiles/wischer/wischer_04_ne555_taktgeber.jpg"
  alt="astabiler Multivibrator"
  caption="<b>Bild 4</b> Astabiler Multivibrator als Taktgeber"
%}

<p>
  Im Bild ist die prinzipielle Beschaltung zu sehen. Zunächst ist der Elko
  entladen. Dadurch liegt auch an seinem Pluspol GND (Masse). Das IC wird über
  Trigger (2) gestartet. Die interne Verbindung zwischen Discharge (7) und GND
  wird unterbrochen. Dadurch kann sich der Elko über R1 und R2 aufladen. Sobald
  2/3 der Versorgungsspannung erreicht sind, wird das IC zurückgesetzt.
  Discharge (7) wird wieder mit GND verbunden, sodass sich der Elko über R2
  entladen kann, bis sein Niveau nur noch 1/3 von der Spannung beträgt. Dadurch
  wird der Zyklus erneut gestartet.
</p>

<p>
  Für unseren Anwendungsfall müssen nun die Widerstände R1 und R2 entsprechend
  dimensioniert werden. Der Start eines Wischvorganges sollte über einen kurzen,
  konstanten Impuls von 1 bis 2 Sekunden eingeleitet werden, die Wischpause
  sollte über einen weiten Bereich einstellbar sein. Wie die formelmäßigen
  Zusammenhänge zeigen, ist dieses gewünschte Verhalten nicht einfach
  realisierbar:
</p>

<p>
  Einschaltzeit [sec] = 0,694 × (R1 [Ω] + R2 [Ω]) × C [F]
</p>

<p>
  Ausschaltzeit [sec] = 0,694 × R2 [Ω] × C [F]
</p>

<p>
  Die Einschaltzeit ist abhängig von R1 und R2 während die Ausschaltzeit über
  R2 auf einen konstanten Wert eingestellt werden kann. Hier wird aber genau das
  umgekehrte Verhalten, also kurze Signale und relativ lange Pausen, gefordert.
  Die ergeben sich, wenn die Ausgangszustände an Pin 3 invertiert werden (an =
  aus und aus = an). Durch den Einsatz eines PNP-Transistors (z.B. BC 327) für
  die Ausgangslast kann dies erreicht werden.
</p>

<p>
 Bei dieser Auslegung beginnt der Zyklus jedoch dann mit der Schaltpause. Um
 dies zu verhindern kommt ein weiterer Timer-Baustein zum Einsatz. Diesmal
 wird der NE 555 aber als monostabile Kippstufe (Monoflop) beschaltet. Diese
 gibt beim Eintreffen eines Impulses am Startreingang eine Flanke von
 definierter Länge ab, welche auch ausläuft, wenn der Eingang geschlossen
 bleibt <b>Bild 5</b>.
</p>

{% include figure.html
  src="/img/automobiles/wischer/wischer_05_ne555_monoflop.jpg"
  alt="Monoflop"
  caption="<b>Bild 5</b> Monostabile Kippstufe (Monoflop)"
%}

<p>
 Im Bild ist die grundsätzliche Beschaltung eines Monoflops zu sehen. Zunächst
 ist der Elko C entladen, das IC im Ruhezustand. Discharge (7) ist intern mit
 GND (Masse) verbunden. Wird nun eine negative Flanke an den Steuereingang (2)
 gegeben (über den 100 nF–Kondensator gepuffert), wird das interne Flipflop
 gesetzt und Discharge von GND getrennt. Jetzt kann sich der Elko über R1
 aufladen. Sobald 2/3 der Versorgungsspannung erreicht sind, kippt die Schaltung
 in den Ursprungzustand zurück, der Ausgang wird wieder abgeschaltet. Der Elko
 entlädt sich über (7) und GND.
</p>

<p>
 Die Dauer des Impulses bestimmt die Kombination aus R1 und dem Elko C nach
 folgender Formel:
</p>

<p>
 Impulsdauer [sec] = 1,1 x R [Ω] x C [F]
</p>

<p>
 Mit R = 3,9 kΩ und C = 220 µF ergibt sich eine Dauer von etwa 1 Sekunde. Diese
 reicht für die Ansteuerung des Wischers beim Einschalten des Intervall-Modus,
 anschließend übernimmt der Taktgeber den weiteren Verlauf.
</p>

<p>
 Die komplette ausgeführte Schaltung ist im <b>Bild 6</b> dargestellt:
</p>

{% include figure.html
  src="/img/automobiles/wischer/wischer_06_intervallschaltung.jpg"
  alt="Intervallschaltung"
  caption="<b>Bild 6</b> Scheibenwischersteuerung mit einstellbarem Intervall"
%}

<p>
 Mit C = 100 µF kann nun die Einschaltzeit über R2 = 15 kΩ kauf einen konstanten
 Wert von etwa 1 Sekunde eingestellt werden, die Ausschaltzeit kann über einen
 Festwiderstand von 22 kΩ und ein Poti (R1 = 220 KΩ) von ca. 2 bis 18 Sekunden
 variiert werden.
</p>

<p>
 Die Ansteuerung des Wischers erfolgt über 3 Kleinleistungsrelais, ein Relais
 für das Waschwasser, ein Relais mit 2 Einschaltkontakten für Stufe 1 (die 2.
 Wicklung muss mit geschaltet werden) und ein Relais für Stufe 2.
</p>

<p>
 Für die Aufnahme der Elektronik mit den Relais wurde eine gedruckte Platine
 hergestellt, natürlich ist auch der Aufbau auf einer Lochrasterplatine möglich.
 Die Platine passt in ein Kunstoff-Universalgehäuse von 120 x 60 x 30 mm.
</p>

<h2><a name="mechanik"></a>Mechanische Ausführung</h2>

<p>
 Zur Befestigung des Schalters am Lenkstock wurde eine kleine Blechplatte
 hergestellt. Diese Platte diente zur Aufnahme des Schaltergehäuses über die
 oben erwähnten 3 mm Schrauben und gleichzeitig zur Montage der Einheit an den
 vorhandenen Blinker Schalter (siehe <b>Bild 7</b>).
</p>

{% include figure.html
  src="/img/automobiles/wischer/wischer_07_mechanik.jpg"
  alt="Befestigung der Einheit am vorhandenen Blinker Schalter"
  caption="<b>Bild 7</b> Befestigung der Einheit am vorhandenen Blinker Schalter"
%}

<p>
 Um Platz für den neuen Schalter in der Verkleidung des Lenkrades zu schaffen
 musste der Aluminium-Trägerkörper entsprechend ausgearbeitet werden. Die dabei
 abgetrennte vordere Befestigung für die Lenksäulenverkleidung wurde
 anschließend mit einem Alu-Winkel wieder auf der Blechplatte befestigt und
 somit die Stabilität wiederhergestellt.
</p>

<p>
Der Wischerhebel des BMW-Schalters passte natürlich nicht zur Geometrie und
Optik des Alfas und wurde daher durch einen Original Blinkerhebel von einem
entsprechenden Alfa-Modell ersetzt. Hierzu konnte der Hebel aus dem Schalter
demontiert werden (2,5 mm Welle ausdrücken). Das Schaltstück wurde abgetrennt
und der Alfa-Hebel angeschweißt. Wie <b>Bild 7</b> zeigt war anschließend von
der Transplantation nichts mehr zu sehen.
</p>

<p>
 Die Zusammenstellung aller Baugruppen geht aus nachfolgendem <b>Bild 8</b>
 hervor. Wie  schon bei der ersten Version für die Wischwasserpumpe wurde das
 Gehäuse für die  Elektronik als Zwischenstecker ausgeführt, statt der früher
 angeschlossenen  Fußpumpe erfolgt jetzt aber die Verbindung zum neuen
 Lenkstockschalter.
</p>

{% include figure.html
  src="/img/automobiles/wischer/wischer_08_gesamtansicht.jpg"
  alt="Zusammenstellung der Baugruppen"
  caption="<b>Bild 8</b> Zusammenstellung der Baugruppen"
%}

<p>
 Das Bild zeigt das Plastikgehäuse zur Aufnahme der Elektronik mit Steckkontakt
 zum Kabel des Wischermotors und Flachbandkabel mit 9-poliger Sub-D
 Steckverbindung zum Lenkstockschalter. Hier sitzt der Wischerschalter mit
 kleiner Platine für die Steckverbindung zum Flachbandkabel und angeflanschtem
 Poti für die Intervalleinstellung sowie Masseverbindung.
</p>

<h2><a name="fertig"></a>Der fertige Wischer Intervallschalter</h2>

<p>
 Bei der Realisierung des Projektes gestalteten sich die Arbeiten für den
 mechanischen Umbau des Schalters sowie die Bearbeitung der Lenksäulenhalterung
 als wesentlicher Arbeitsaufwand. Die Herstellung und Bestückung der Platinen
 sowie die elektrische Verdrahtung sind Standardmaßnahmen und fallen vom
 Zeitaufwand weniger ins Gewicht. Die Materialkosten sind mit maximal 30 € eher
 als gering anzusehen.
</p>

<p>
 Der fertige Einbau der Wischer-Intervallschaltung in die Berlina 1750 wird in
 <b>Bild 9</b> gezeigt.  Optisch wie auch ergonomisch hat sich der Umbau als
 erfolgreich erwiesen. Eine zweite Ausführung der Wischer-Intervallsteuerung ist
 parallel entstanden und wird bei nächster Gelegenheit in meinen Duetto Spider
 eingebaut.
</p>

{% include figure.html
  src="/img/automobiles/wischer/wischer_09_einbau berlina.jpg"
  alt="Einbau des Wischer-Intervallschalters in die Berlina 1750"
  caption="<b>Bild 9</b> Einbau des Wischer-Intervallschalters in die Berlina
  1750"
%}
