<header class="topbar">
  <a href="{{ site.baseurl }}/" class="logo">  <!-- zurück auf Homepage -->
    <img class="logo-img" src="{{ site.baseurl }}/img/logo-kjs.svg" alt="KJS Logo" />
    <h1 class="logo-title">Elektronik-Projekte</h1>
  </a>
  <div class="navi-wrapper">
    <button type="button" id="js-trigger-button" class="navi-trigger">
      <img class="logo-img" src="{{ site.baseurl }}/img/menu-icon.svg" alt="Toggle Menu" />
    </button>
    <nav id="js-navi" class="navi">
      <a class="navi-link" href="{{ site.baseurl }}/nostalgie">Nostalgie</a>
      <a class="navi-link" href="{{ site.baseurl }}/haus">Haus</a>
      <a class="navi-link" href="{{ site.baseurl }}/modellbahn">Modellbahn</a>
      <a class="navi-link" href="{{ site.baseurl }}/kfz">KFZ</a>
    </nav>
  </div>
</header>
