<header class="topbar">
  <a href="{{ site.baseurl }}/">  <!-- zurück auf Homepage -->
    <img src="{{ site.baseurl }}/img/logo-kjs.svg" alt="KJS Logo" class="logo" />
    <h1 class="topbartitle">Elektronik-Projekte</h1>
  </a>
</header>
<nav class="navi">
  <a class="navilink" href="{{ site.baseurl }}/nostalgie">Nostalgie</a>
  <a class="navilink" href="{{ site.baseurl }}/haus">Haus</a>
  <a class="navilink" href="{{ site.baseurl }}/modellbahn">Modellbahn</a>
  <a class="navilink" href="{{ site.baseurl }}/kfz">KFZ</a>
</nav>
