---
layout: article
category: haus
title: 'Steuerung eines Treppenliftes über WLAN'
img: 'haus/treppenlift_titel.jpg'
order: 5
---

<ul class="toc">
  <li><a href="#aufgabe">Problematik und Aufgabenstellung</a></li>
  <li><a href="#hardware">Hardware</a></li>
  <li><a href="#software">Software</a></li>
</ul>

<h2><a name="aufgabe"></a>Problematik und Aufgabenstellung</h2>

<p>
  Wenn man die Bewegungsfähigkeit im Einfamilienhaus über mehrere Etagen auch im
  Alter aufrechterhalten möchte, stellt sich irgendwann die Frage nach der
  Anschaffung eines Treppenliftes. Nach Vergleich verschiedener Systeme wurde
  also ein solcher Treppenlift angeschafft und installiert.
</p>

<p>
  Das System brachte eine erhebliche Erleichterung und ließ sich bequem über
  Joystick in der Armlehne oder über Fernsteuerung bedienen. Diese Bedienung über
  Tastenbetätigung ist bei allen Systemen gleich, hat aber einen grundsätzlichen
  Nachteil. Aus Sicherheitsgründen muss die entsprechende Taste während der
  gesamten Fahrzeit gedrückt gehalten bleiben. Dieses Prinzip ist als
  „Totmannschalter“ bei Schienenfahrzeugen bekannt.
</p>

<p>
  Möchte man bei der Fahrt mit dem Treppenlift irgendwelche Gegenstände mitnehmen,
  so hat man nur eine Hand zur Verfügung, da mit der anderen Hand der Joystick
  festgehalten werden muss. Auch wenn man den Lift per Fernbedienung z.B. über
  mehrere Etagen schicken will, muss über einige Minuten die Taste der
  Fernbedienung gehalten werden. Diese Bedienung hat sich sehr schnell als lästig
  erwiesen, warum gibt es also nicht eine Steuerung wie sie bei normalen Aufzügen
  vorzufinden ist?
</p>

<p>
  Somit war die Aufgabenstellung klar, es galt eine aufzugähnliche Steuerung zu
  bauen. Ein Eingriff in das vorhandene System kam nicht infrage, da einerseits
  die Steuerungstechnik nicht bekannt war und andererseits verbot sich dies auch
  aus Garantiegründen.
</p>

<p>
  Hier lag der Gedanke nahe, über einen Microcontroller (z.B. Arduino) eine
  parallele Steuerung aufzubauen und in das WLAN-Netz des Hauses einzubinden.
</p>

<h2><a name="hardware"></a>Hardware</h2>

<p>
  Als WLAN-fähiger Microcontroller wurde die ESP8266 NodeMCU gewählt, welche mit
  der Arduino IDE programmiert werden kann. Die Stromversorgung erfolgte über
  ein 5 V Netzteil.
</p>

<p>
  Der Microcontroller liefert als Ausgangssignale die Befehle für AUF und AB.
  Diese steuern jeweils über eine Transistorschaltung ein Relais an. Die
  Tastkontakte einer Fernbedienung wurden durch Kabel herausgeführt und an die
  Schaltausgänge der Relais gelegt. Somit war die Tastenbedienung durch Schalter
  ersetzt worden.
</p>

<p>
  Für eine Aufzugsteuerung ist die Information über den jeweiligen Standort
  erforderlich. Hierzu wurden auf jeder Etage Endschalter installiert, die die
  Parkposition des Treppenliftes anzeigen. Die Signale der Endschalter wurden
  durch dünne Kabel zur Steuereinheit geführt. Diese Kabel konnten fast
  unsichtbar unterhalb des Treppengeländers verlegt werden. Durch diese
  Kabelverbindung fängt man sich jedoch Störsignale ein, die zu einer falschen
  und wechselnden Positionsanzeige führen. Durch jeweils einen externen Pullup
  von 1 kOhm und einen Kondensator von 10 uF gegen GND kann dieser Effekt
  sicher verhindert werden.
</p>

{% include figure.html
  src="/img/haus/treppenlift/1_treppenliftschaltplan.jpg"
  alt="Treppenlift Schaltplan"
  caption="<b>Bild 1</b> Treppenlift Schaltplan"
%}

{% include figure.html
  src="/img/haus/treppenlift/2_treppenliftbedienung.jpg"
  alt="Treppenlift Bedienungsoberfläche"
  caption="<b>Bild 2</b> Treppenlift Bedienungsoberfläche"
%}

<h2><a name="software"></a>Software</h2>

<p>
  Die ESP8266 NodeMCU wird mit der Arduino IDE programmiert. Hierzu muss das
  Add-On ESP8266 installiert sein. Weiterhin sind verschiedene Bibliotheken
  einzubinden:
</p>

<p>
  <ul>
    <li><ESP8266WebServer.h>	// Lib für den Webserver</li>
    <li><ESP8266WiFi.h>		// Lib für das WLAN</li>
    <li><time.h>			// Lib für die Uhrzeit über NPT-Server</li>
    <li>"FS.h"				// Lib für das SPIFFS-Filesystem</li>
  </ul>
</p>

<p>
  Der HTML-Code zum Erstellen der Webseite wird im ESP8266-Dateisystem (SPIFFS)
  gespeichert. Um die HTML-Datei in den ESP8266-Flash-Speicher hochzuladen,
  wird ein Plug-in für die Arduino DIE, der Dateisystem-Uploader verwendet.
  Zunächst wird ein Ordner namens Data erstellt, in diesem Ordner wird die zuvor
  erstellte HTML-Datei gespeichert. Anschließend wird die HTML-Datei in das
  ESP8266-Dateisystem über Tools > ESP8266 Data Sketch Upload hochgeladen.
</p>

<p>
  Das komplette Programm ist in dem folgenden Hauptsketch enthalten und
  ausführlich dokumentiert, lediglich der Sketch zur Verbindung mit dem WLAN
  wurde als Connect-Sketch ausgelagert und wird im Haupt-Tab aufgerufen. Dies
  hat sich für mich als praktisch erwiesen, da ich den Connect-Sketch somit
  auch für andere Programme unverändert kopieren und verwenden kann.
</p>

<p>
  Hauptsketch
</p>

<pre>
<code>
  // Projekt:        KJS Treppenlift
  // Datei:          KJS_Node_Treppenlift
  // Thema:          Befehle zur Bedienung des Treppenlifts vom Smartphone per WLAN
  //                 senden und empfangen
  // Hardware:       NodeMCU 8266, Boardauswahl > Node MCU 1.0
  // Autor:          Karl-Josef Schneider
  // Bearbeitung:    erstellt am 24.03.2022, letzte Änderungen am 27.12.2022
  //..!....1....!....2....!....3....!....4....!....5....!....6....!....7....!....8....!

  // Libraries hinzufügen -------------------------------------------------------------
     #include "FS.h"                               // Lib für das Filesystem
     #include "ESP8266WebServer.h"                 // Lib für den Webserver
     #include "ESP8266WiFi.h"                      // Lib für den Internetzugang
     #include "time.h"                             // Lib für die Uhrzeit

  // Variablen deklarieren ------------------------------------------------------------
     int EndDach     = D1;                         // Endschalter Dach an D1
     int EndEtage    = D2;                         // Endschalter Etage an D2
     int EndParterre = D3;                         // Endschalter Paterre an D3
     int EndKeller   = D4;                         // Endschalter Keller an D4
     int Auf = D5;                                 // Ausgang für aufwärts = D7
     int Ab =  D6;                                 // Ausgang für abwärts = D8
     int dach=1,etage=1,parterre=1,keller=1;       // Status der Etage-Tasten
     int auf=1,stopp=1,ab=1;                       // Status der AUF-STOPP-AB-Tasten
     int enddach,endetage,endparterre,endkeller;   // Status der Endschalter
     int Std, Min, Sek;                            // Variablen für Uhrzeit
     int Sekunde;                                  // Fahrzeit
     #define MY_NTP_SERVER "at.pool.ntp.org"       // NTP-Server
     #define MY_TZ"CET-1CEST,M3.5.0/02,M10.5.0/03" // Sommer-/Winterzeit
     time_t now;                                   // Zeitinformation
     tm tm;                                        // Struktur tm für Zeitinformation
     uint32_t altzeit;                             // alte Zeit
     float Flag = 0;                               // Flag für Timer
     unsigned long Startzeit = 0;                  // Startzeit für Timer
     int Fahrzeit = 0;                             // Fahrzeit in millisec
     int Fahrtende;
     int Start;                                    // Startposition des Lifts
     ESP8266WebServer server(80);                  // Server Instanz erstellen

  // Startfunktion --------------------------------------------------------------------
     void setup() {
     Serial.begin(115200);                         // Start des seriellen Monitors
     connect();                                    // Tab zum Verbinden mit dem WLAN
     SPIFFS.begin();                               // Filesystem starten
     FSzeigen();                                   // Info anzeigen
     configTime(MY_TZ, MY_NTP_SERVER);             // Zeitkonfiguration
     server.serveStatic("/", SPIFFS, "/");         // Server einrichten
     server.on("/daten", sendeDaten);              // sende Daten
     server.on("/btnclick", getDaten);             // empfange Daten
     pinMode(EndDach,     INPUT_PULLUP);           // Endschalter Dachgeschoß Input
     pinMode(EndEtage,    INPUT_PULLUP);           // Endschalter 1.Etage Input
     pinMode(EndParterre, INPUT_PULLUP);           // Endschalter Parterre Input
     pinMode(EndKeller,   INPUT_PULLUP);           // Endschalter Keller Input
     pinMode(Auf,OUTPUT);digitalWrite(Auf,HIGH);   // Aufwärts Output auf HIGH
     pinMode(Ab,OUTPUT);digitalWrite(Ab,HIGH);     // Abwärts Output auf HIGH
     } // Ende Startfunktion -----------------------------------------------------------

  // Hauptfunktion =====================================================================
     void loop(void) {
     server.handleClient();
     time(&now);                                   // aktuelle Zeit lesen
     localtime_r(&now, &tm);                       // Zeit-Update der tm-Struktur
     if (millis() - altzeit >= 1000)     {         // im Sekundentakt
       altzeit = millis();                         // Zeit zurücksetzen
       Std = tm.tm_hour;                           // Stunden
       Min = tm.tm_min;                            // Minute
       Sek = tm.tm_sec;                  }         // Sekunden
     Endschalter();                                // Abfrage der Endschalter

     // Fahrt zum Dach .................................................................
     if (dach == 0)                           {    // Taste "Dach" gedrückt
       if (Start == 2)                   {         // Startposition = Etage
         Fahrzeit = 110000; Flag = 1;              // Fahrzeit Etage/Dach = 110sec
         digitalWrite(Auf, LOW);         }         // Fahrt aufwärts
       if (Start == 3)                   {         // Startposition = Parterre
         Fahrzeit = 105000; Flag = 1;              // Fahrzeit Parterre/Etage = 105sec
         digitalWrite(Auf, LOW);         }         // Fahrt aufwärts
       if (Start == 4)                   {         // Startposition = Keller
         Fahrzeit = 80000; Flag = 1;               // Fahrzeit Keller/Parterre = 80sec
         digitalWrite(Auf, LOW);         }    }    // Fahrt aufwärts

     // Fahrt zur Etage ................................................................
     if (etage == 0)                          {    // Taste "Etage" gedrückt
       if (Start == 1)                    {        // Startposition = Dach
         Fahrzeit = 110000; Flag = 1;              // Fahrzeit Dach/Etage = 110sec
         digitalWrite(Ab, LOW);           }        // Fahrt abwärts
       if (Start == 4)                    {        // Startposition = Keller
         Fahrzeit = 80000; Flag = 1;               // Fahrzeit Keller/Parterre = 80sec
         digitalWrite(Auf, LOW);          }        // Fahrt aufwärts
       if (Start == 3)                    {        // Startposition = Parterre
         Fahrzeit = 105000; Flag = 1;              // Fahrzeit Parterre/Etage = 105sec
         digitalWrite(Auf, LOW);          }   }    // Fahrt aufwärts

     // Fahrt nach Parterre ............................................................
     if (parterre == 0)                       {    // Taste "Parterre" gedrückt
       if (Start == 1)                    {        // Startposition = Dach
         Fahrzeit = 110000; Flag = 1;              // Fahrzeit Dach/Etage = 110sec
         digitalWrite(Ab, LOW);           }        // Fahrt abwärts
       if (Start == 2)                    {        // Startposition = Etage
         Fahrzeit = 105000; Flag = 1;              // Fahrzeit Etage/Parterre = 105sec
         digitalWrite(Ab, LOW);           }        // Fahrt abwärts
       if (Start == 4)                    {        // Startposition = Keller
         Fahrzeit = 80000; Flag = 1;               // Fahrzeit Keller/Parterre = 80sec
         digitalWrite(Auf, LOW);          }   }    // Fahrt aufwärts

     // Fahrt zum Keller ...............................................................
     if (keller == 0)                         {    // Taste "Keller" gedrückt
       if (Start == 1)                    {        // Startposition = Dach
         Fahrzeit = 110000; Flag = 1;              // Fahrzeit Dach/Etage = 110sec
         digitalWrite(Ab, LOW);           }        // Fahrt abwärts
       if (Start == 2)                    {        // Startposition = Etage
         Fahrzeit = 105000; Flag = 1;              // Fahrzeit Etage/Parterre = 105sec
         digitalWrite(Ab, LOW);           }        // Fahrt abwärts
       if (Start == 3)                    {        // Startposition = Parterre
         Fahrzeit = 80000; Flag = 1;               // Fahrzeit Parterre/Keller = 80sec
         digitalWrite(Ab, LOW);           }   }    // Fahrt abwärts

     // Fahrt aufwärts .................................................................
     if (auf == 0)                       {         // Taste aufwärts gedrückt
       Fahrzeit = 110000; Flag = 1;                // max. Fahrzeit = 110sec
       digitalWrite(Auf, LOW);           }         // Fahrt aufwärts
     // Fahrt abwärts ..................................................................
     if (ab == 0)                        {         // Taste abwärts gedrückt
       Fahrzeit = 110000; Flag = 1;                // max. Fahrzeit = 110sec
       digitalWrite(Ab, LOW);            }         // Fahrt abwärts

     if (Flag == 1) {Timer();}                     // Timer starten
     } // Ende Hauptfunktion ===========================================================

  // Abfrage Endschalter ---------------------------------------------------------------
     void Endschalter()  {
     enddach = digitalRead(EndDach);               // Abfrage Endschalter Dach
     endetage = digitalRead(EndEtage);             // Abfrage Endschalter Etage
     endparterre = digitalRead(EndParterre);       // Abfrage Endschalter Parterre
     endkeller = digitalRead(EndKeller);           // Abfrage Endschalter Keller
     } // Ende Endschalter -------------------------------------------------------------

  // Fahrt-Timer -----------------------------------------------------------------------
     void Timer()  {
     if (millis() <= (Startzeit + Fahrzeit))    {  // solange Fahrzeit nicht erreicht
       Sekunde = ((millis()-Startzeit)/1000);   }  // Sekunden zählen
     if (millis() > (Startzeit + Fahrzeit))     {  // wenn Fahrzeit erreicht
       digitalWrite(Auf, HIGH);                    // Fahrt aufwärts stoppen
       digitalWrite(Ab, HIGH);                     // Fahrt abwärts stoppen
       Serial.print("Stop nach ");Serial.print(Fahrzeit/1000); Serial.println(" sec Fahrzeit");
       Flag = 0; delay(1000);                      // Ende Timer, kurze Schaltpause
      // Fahrtende = 1; Fahrzeit = 0;
       if (enddach == 0) dach = 1;                 // End-Dach     = 0 > Status = 1
       if (endetage == 0) etage = 1;               // End-Etage    = 0 > Status = 1
       if (endparterre == 0) parterre = 1;         // End-Parterre = 0 > Status = 1
       if (endkeller == 0) keller = 1;             // End-Keller   = 0 > Status = 1
       if (keller == 0)                         {  // wenn Keller angewählt
         if (Start == 1)                    {      // wenn 1. Startposition = Dach
         Start = 2; Startzeit = millis();   }      // 2. Startposition = Etage
         if (Start == 2)                       {   // wenn 2. Startposition = Etage
           if (endparterre == 0)              {    // wenn Endschalter Parterre = 0
             Start = 3; Startzeit = millis(); }} } // 3. Startposition = Parterre
       if (parterre == 0)                       {  // wenn Parterre angewählt
         if (Start == 1)                    {      // wenn 1. Startposition = Dach
         Start = 2; Startzeit = millis();   }   }  // 2. Startposition = Etage
       if (etage == 0)                          {  // wenn Etage angewählt
         if (Start == 4)                    {      // wenn 1. Startposition = Keller
         Start = 3; Startzeit = millis();   }   }  // 2. Startposition = Parterre
       if (dach == 0)                           {  // wenn Dach angewählt
         if (Start == 4)                    {      // wenn 1. Startposition = Keller
         Start = 3; Startzeit = millis();   }      // 2. Startposition = Parterre
         if (Start == 3)                       {   // wenn 2. Startposition = Parterre
           if (endetage == 0)                 {    // wenn Endschalter Etage = 0
           Start = 2; Startzeit = millis();   }} } // 3. Startposition = Etage

       Serial.print("dach = ");Serial.println(dach);
       Serial.print("etage = ");Serial.println(etage);
       Serial.print("parterre = ");Serial.println(parterre);
       Serial.print("keller = ");Serial.println(keller);
       Serial.print("Fahrzeit = ");Serial.println(Fahrzeit);
       Serial.print("Startposition = ");Serial.println(Start);
       if (auf == 0) {auf = 1;}
       if (ab == 0) {ab = 1;}                   }  // Status AUF-AB-Tasten setzen
     } // Ende Fahrt-Timer -------------------------------------------------------------

  // Stop ------------------------------------------------------------------------------
     void Stop()  {
     dach=1; etage=1; parterre=1; keller=1;        // Status der Etage-Tasten setzen
     auf = 1; ab = 1;                              // Status AUF-STOPP-AB-Tasten setzen
     digitalWrite(Auf, HIGH);                      // Fahrt aufwärts stoppen
     digitalWrite(Ab, HIGH);                       // Fahrt abwärts stoppen
     Fahrzeit = 0; Sekunde=0;
     } // Ende Stop --------------------------------------------------------------------

  // Funktion Daten ins WLAN senden ----------------------------------------------------
     void sendeDaten() {
     char sendbuffer[50];
     sprintf(sendbuffer, "[\"%1u\",\"%1u\",\"%1u\",\"%1u\",\"%1u\",\"%1u\",\"%1u\",\"%1u\",\"%1u\",\"%1u\",\"%1u\",\"%1u\",\"%1u\",\"%1u\",\"%1u\"]",
     Std,Min,Sek,dach,etage,parterre,keller,auf,stopp,ab,enddach,endetage,endparterre,endkeller,Sekunde);
     server.send(200, "application/json", sendbuffer);
     //Serial.println(sendbuffer);
     //Serial.println(strlen(sendbuffer));
     } // Ende Daten senden ------------------------------------------------------------

  // Daten empfangen und antworten -----------------------------------------------------
     void getDaten() {
     char state[] = {"0"};
     Serial.print("gedrückte Taste "); Serial.print(server.arg(0));
     if (server.arg(0)=="1")                {      // Taste mit Id 1 wurde gedrückt
       dach=0; Startzeit = millis();        }      // Fahrt zum Dach
     if (server.arg(0)=="2")                {      // Taste mit Id 2 wurde gedrückt
       etage=0; Startzeit = millis();       }      // Fahrt zur Etage
     if (server.arg(0)=="3")                {      // Taste mit Id 3 wurde gedrückt
       parterre=0; Startzeit = millis();    }      // Fahrt nach Parterre
     if (server.arg(0)=="4")                {      // Taste mit Id 4 wurde gedrückt
       keller=0; Startzeit = millis();      }      // Fahrt zum Keller
     if (server.arg(0)=="5")                {      // Taste mit Id 5 wurde gedrückt
       auf = 0; Startzeit = millis();       }      // Fahrt aufwärts
     if (server.arg(0)=="6") {Stop();}             // Taste mit Id 6 wurde gedrückt
     if (server.arg(0)=="7")                {      // Taste mit Id 7 wurde gedrückt
       ab = 0; Startzeit = millis();        }      // Fahrt abwärts
     if (enddach == 0)     {Start=1;}              // Startposition = Dach
     if (endetage == 0)    {Start=2;}              // Startposition = Etage
     if (endparterre == 0) {Start=3;}              // Startposition = Parterre
     if (endkeller == 0)   {Start=4;}              // Startposition = Keller
     server.send(200, "text/plane", state);        // Antwort senden
     Serial.print(" Status gesendet "); Serial.println(state);
     Serial.print("Startposition = ");Serial.println(Start);
     } // Ende Daten empfangen und antworten -------------------------------------------

  // Filesystem anzeigen ---------------------------------------------------------------
     void FSzeigen() {
     FSInfo fs_info;
     SPIFFS.info(fs_info);
     float fileTotalKB = fs_info.totalBytes / 1024.0;
     float fileUsedKB = fs_info.usedBytes / 1024.0;
     Serial.print("\nFilesystem Total KB "); Serial.print(fileTotalKB);
     Serial.print(" benutzt KB "); Serial.println(fileUsedKB);
     Dir dir = SPIFFS.openDir("/");  // Dir ausgeben
     while (dir.next()) {
      Serial.print(dir.fileName()); Serial.print("\t");
      File f = dir.openFile("r");
      Serial.println(f.size());    }
     } // Ende Filesystem --------------------------------------------------------------
</code>
</pre>

<p>
  Sketch Connect
</p>

<pre>
<code>
  // Projekt:        KJS Treppenlift
  // Datei:          Die Version von Connect wird als Tab eingebunden
  // Bemerkungen:    #include <ESP8266WebServer.h> oder #include <ESP8266WiFi.h>
  //                 müssen im Haupttab aufgerufen werden, die Funktion "Connect();"
  //                 muss im Setup eingebunden werden.
  // Autor:          Karl-Josef Schneider
  // Bearbeitung:    erstellt am 08.01.2021, letzte Änderungen am 09.01.2021
  //..!....1....!....2....!....3....!....4....!....5....!....6....!....7....!....8....!

  // Variablen deklarieren ------------------------------------------------------------
     const char* ssid = "xxxxx";                 // Name des WLAN Netzes
     const char* password="12345";               // Passwort des WLAN Netzes

  // Funktionsaufruf zur Verbindung mit dem WLAN --------------------------------------
     void connect() {
     Serial.print("Verbinde zu ");
     Serial.println(ssid);                       // Anzeige des WLAN-Netzes
     WiFi.begin(ssid,password);                  // Aufbau der WLAN Verbindung
     while (WiFi.status() != WL_CONNECTED)   {   // Solange keine Verbindung besteht
       delay(500);
       Serial.print(".");                    }   // Punkte als Kontrollelement ausgeben
       Serial.println(" ");
     Serial.println("WiFi verbunden");           // erfolgreiche Verbindung anzeigen
     server.begin();                             // Server starten
     Serial.println ("Server wartet auf ESP8266");
     delay(5000);                                // 5 Sekunden Zeit für Initialisierung
     Serial.println();
     Serial.println("Die IP-Adresse des Webservers lautet ");
     Serial.println(WiFi.localIP());             // localIP ausgegeben
     }
</code>
</pre>




<h2><a name="download"></a>Download des Codes</h2>

<p>
  Der gesamte Arduino Sketch steht als Github Gist zum Download bereit:
</p>
